Repository oasisprotocol/oasis-core, pull requests merged in 2019-12, with the labels that each got.

#2443 go staking: reward for signing blocks
  go/common/version/version.go
  go/consensus/tendermint/apps/staking/fees.go
  go/consensus/tendermint/apps/staking/signing_rewards.go
  go/consensus/tendermint/apps/staking/staking.go
  go/consensus/tendermint/apps/staking/state/state.go
  go/consensus/tendermint/apps/staking/state/state_test.go
  go/consensus/tendermint/apps/staking/votes.go
  go/genesis/api/api_test.go
  go/scheduler/api/api.go
  go/staking/api/api.go
Labels: c:staking

#2339 Ledger device support for CLI
  go/common/crypto/signature/signer.go
  go/common/crypto/signature/signers/file/file_signer.go
  go/common/crypto/signature/signers/ledger/ledger_signer.go
  go/common/ledger/ledger.go
  go/go.mod
  go/go.sum
  go/oasis-node/cmd/common/common.go
  go/oasis-node/cmd/common/consensus/consensus.go
  go/oasis-node/cmd/common/flags/flags.go
  go/oasis-node/cmd/registry/entity/entity.go
  go/oasis-node/cmd/registry/node/node.go
  go/oasis-node/cmd/registry/runtime/runtime.go
  go/oasis-node/cmd/root.go
  go/oasis-node/cmd/signer/ledger/ledger.go
  go/oasis-node/cmd/signer/signer.go
  go/oasis-test-runner/oasis/entity.go
  go/oasis-test-runner/scenario/e2e/registry_cli.go
Labels: c:breaking-cfg

#2470 Reorganize Makefiles
  .buildkite/go/lint.sh
  .buildkite/pipeline.yml
  Makefile
  common.mk
  go/Makefile
Labels: c:build

#2472 Deprecate old/unused db backends
  go/common/badger/helpers.go
  go/common/persistent/persistent.go
  go/consensus/tendermint/abci/mux.go
  go/consensus/tendermint/db/badger/badger.go
  go/consensus/tendermint/db/bolt/bolt.go
  go/consensus/tendermint/db/bolt/bolt_test.go
  go/consensus/tendermint/db/init.go
  go/go.mod
  go/go.sum
  go/oasis-node/node_test.go
  go/oasis-test-runner/scenario/e2e/basic.go
  go/oasis-test-runner/scenario/e2e/roothash_messages.go
  go/oasis-test-runner/scenario/e2e/storage_sync.go
  go/storage/client/client.go
  go/storage/crashing_test.go
  go/storage/database/database.go
  go/storage/database/database_test.go
  go/storage/init.go
  go/storage/mkvs/urkel/db/badger/badger.go
  go/storage/mkvs/urkel/db/leveldb/leveldb.go
  go/storage/mkvs/urkel/interop/cmd/protocol_server.go
  go/storage/mkvs/urkel/urkel_test.go
  go/worker/common/host/local_storage.go
  go/worker/common/worker.go
Labels: c:breaking, c:breaking-cfg, c:common, c:consensus-tendermint, c:storage, golang

#2480 Hash should be base64 encoded in JSON
  .buildkite/pipeline.yml
  .buildkite/scripts/merge_coverage.sh
  .buildkite/scripts/test_e2e.sh
  go/common/crypto/hash/hash.go
  go/common/namespace.go
Labels: c:breaking, c:bug, c:common

#2463 go/runtime: Per-runtime block history and prune policy
  go/.gitignore
  go/consensus/tendermint/roothash/block_index.go
  go/consensus/tendermint/roothash/block_index_test.go
  go/consensus/tendermint/roothash/roothash.go
  go/consensus/tendermint/tendermint.go
  go/go.mod
  go/oasis-node/cmd/node/node.go
  go/oasis-node/node_test.go
  go/oasis-test-runner/oasis/args.go
  go/oasis-test-runner/oasis/client.go
  go/oasis-test-runner/oasis/compute.go
  go/oasis-test-runner/oasis/fixture.go
  go/oasis-test-runner/oasis/oasis.go
  go/oasis-test-runner/oasis/runtime.go
  go/oasis-test-runner/oasis/storage.go
  go/oasis-test-runner/oasis/validator.go
  go/oasis-test-runner/scenario/e2e/basic.go
  go/oasis-test-runner/scenario/e2e/runtime_prune.go
  go/oasis-test-runner/test-runner.go
  go/roothash/api/api.go
  go/roothash/api/history.go
  go/roothash/tests/tester.go
  go/runtime/client/api/api.go
  go/runtime/client/client.go
  go/runtime/client/indexer/backend.go
  go/runtime/history/db.go
  go/runtime/history/history.go
  go/runtime/history/history_test.go
  go/runtime/history/prune.go
  go/runtime/registry/config.go
  go/runtime/registry/helpers.go
  go/runtime/registry/registry.go
  go/runtime/runtime.go
  go/runtime/tagindexer/backend.go
  go/runtime/tagindexer/backend_test.go
  go/runtime/tagindexer/bleve.go
  go/runtime/tagindexer/tagindexer.go
  go/runtime/transaction/types.go
  go/worker/common/committee/node.go
  go/worker/common/config.go
  go/worker/common/runtime_host.go
  go/worker/common/worker.go
  go/worker/compute/committee/node.go
  go/worker/compute/init.go
  go/worker/compute/worker.go
  go/worker/keymanager/worker.go
  go/worker/merge/committee/node.go
  go/worker/merge/init.go
  go/worker/merge/worker.go
  go/worker/registration/worker.go
  go/worker/storage/committee/node.go
  go/worker/storage/service_internal.go
  go/worker/storage/worker.go
  go/worker/txnscheduler/api/api.go
  go/worker/txnscheduler/committee/node.go
  go/worker/txnscheduler/init.go
  go/worker/txnscheduler/service.go
  go/worker/txnscheduler/worker.go
Labels: c:breaking-cfg

#2483 buildkite: Add a Go dependency audit step with nancy
  .buildkite/go/nancy_audit.sh
  .buildkite/pipeline.yml
  docker/development/Dockerfile
  go/go.mod
  go/go.sum
Labels: c:build, c:security

#2489 build: Make `go generate optional
  .buildkite/go/build.sh
  .github/workflows/release.yml
  Makefile
  README.md
  go/.gitignore
  go/Makefile
  go/common/sgx/aesm/aesm_proto.pb.go
Labels: c:build

#2490 go/oasis-node: Add the `unsafe-reset` sub-command
  go/consensus/tendermint/tendermint.go
  go/oasis-node/cmd/common/flags/flags.go
  go/oasis-node/cmd/node/node.go
  go/oasis-node/cmd/node/unsafe_reset.go
  go/oasis-node/cmd/root.go
  go/oasis-test-runner/oasis/oasis.go
  go/oasis-test-runner/scenario/e2e/basic.go
  go/oasis-test-runner/scenario/e2e/dump_restore.go
  go/oasis-test-runner/scenario/e2e/halt_restore.go
Labels: c:cli

#2492 go/oasis-node: Remove the `debug dummy` sub-commands
  go/oasis-node/cmd/debug/debug.go
  go/oasis-node/cmd/debug/dummy/dummy.go
Labels: c:cli

#2493 Remove staking-related roothash messages
  .buildkite/pipeline.yml
  .buildkite/rust/coverage.sh
  .buildkite/scripts/download_e2e_test_artifacts.sh
  Cargo.lock
  Cargo.toml
  Makefile
  go/common/version/version.go
  go/consensus/tendermint/apps/roothash/genesis.go
  go/consensus/tendermint/apps/roothash/roothash.go
  go/consensus/tendermint/apps/staking/state/state.go
  go/genesis/api/api_test.go
  go/oasis-node/cmd/debug/byzantine/compute.go
  go/oasis-node/cmd/debug/byzantine/merge.go
  go/oasis-test-runner/scenario/e2e/roothash_messages.go
  go/oasis-test-runner/test-runner.go
  go/roothash/api/api.go
  go/roothash/api/block/header.go
  go/roothash/api/block/header_test.go
  go/roothash/api/block/message.go
  go/roothash/api/commitment/compute.go
  go/roothash/api/commitment/pool.go
  go/roothash/tests/tester.go
  go/staking/api/api.go
  go/staking/tests/debug/debug_stake.go
  go/worker/merge/committee/node.go
  runtime/src/common/roothash.rs
  runtime/src/common/version.rs
  runtime/src/dispatcher.rs
  runtime/src/transaction/context.rs
  runtime/src/transaction/dispatcher.rs
  tests/clients/staking-arbitrary/Cargo.toml
  tests/clients/staking-arbitrary/src/main.rs
  tests/fixture-data/roothash-messages/staking-genesis.json
  tests/runtimes/staking-arbitrary/Cargo.toml
  tests/runtimes/staking-arbitrary/api/Cargo.toml
  tests/runtimes/staking-arbitrary/api/src/api.rs
  tests/runtimes/staking-arbitrary/api/src/lib.rs
  tests/runtimes/staking-arbitrary/src/main.rs
Labels: c:breaking

#2495 go/oasis-node/cmd/debug/storage: Add the `export` sub-command
  go/oasis-node/cmd/common/consensus/consensus.go
  go/oasis-node/cmd/debug/storage/export.go
  go/oasis-node/cmd/debug/storage/storage.go
  go/oasis-test-runner/cmd/root.go
  go/oasis-test-runner/scenario/e2e/dump_restore.go
  go/storage/init.go
Labels: c:cli, c:storage

#2498 go staking: undisable transfers for some senders
  .changelog/2498.feature.md
  go/consensus/tendermint/apps/staking/transactions.go
  go/staking/api/api.go
Labels: c:consensus-tendermint, c:staking

#2503 go staking: add isTransferPermitted tests
  .changelog/2503.trivial.md
  go/consensus/tendermint/apps/staking/transactions_test.go
Labels: c:consensus-tendermint, c:staking

#2462 roothash/api: rename Genesis.Blocks -> RuntimeStates
  .changelog/2426.breaking.md
  Cargo.lock
  go/consensus/tendermint/apps/roothash/genesis.go
  go/consensus/tendermint/apps/roothash/roothash.go
  go/genesis/tests/tester.go
  go/oasis-net-runner/fixtures/default.go
  go/oasis-node/cmd/debug/storage/export.go
  go/oasis-node/cmd/genesis/genesis.go
  go/oasis-node/cmd/registry/runtime/runtime.go
  go/oasis-test-runner/oasis/fixture.go
  go/oasis-test-runner/oasis/runtime.go
  go/oasis-test-runner/scenario/e2e/halt_restore.go
  go/oasis-test-runner/scenario/e2e/registry_cli.go
  go/registry/api/api.go
  go/registry/api/runtime.go
  go/registry/tests/tester.go
  go/roothash/api/api.go
  keymanager-runtime/api/Cargo.toml
  keymanager-runtime/api/src/api.rs
  keymanager-runtime/api/src/lib.rs
  runtime/src/common/bytes.rs
  runtime/src/common/mod.rs
  runtime/src/common/registry.rs
Labels: c:breaking

#2494 Make storage per-runtime
  .changelog/2494.breaking.md
  .changelog/2494.feature.md
  go/oasis-node/cmd/debug/storage/export.go
  go/oasis-node/cmd/debug/storage/storage.go
  go/oasis-node/cmd/node/node.go
  go/oasis-node/cmd/node/unsafe_reset.go
  go/oasis-node/cmd/storage/benchmark/benchmark.go
  go/oasis-node/node_test.go
  go/oasis-test-runner/oasis/keymanager.go
  go/roothash/tests/tester.go
  go/runtime/client/client.go
  go/runtime/history/db.go
  go/runtime/history/history.go
  go/runtime/localstorage/localstorage.go
  go/runtime/registry/registry.go
  go/runtime/registry/storage_router.go
  go/storage/api/api.go
  go/storage/client/client.go
  go/storage/client/init.go
  go/storage/client/tests/tests.go
  go/storage/crashing_test.go
  go/storage/database/database_test.go
  go/storage/init.go
  go/storage/metrics.go
  go/storage/mkvs/urkel/db/api/api.go
  go/storage/mkvs/urkel/db/badger/badger.go
  go/storage/mkvs/urkel/interop/cmd/protocol_server.go
  go/storage/mkvs/urkel/urkel_test.go
  go/worker/common/committee/node.go
  go/worker/common/runtime_host.go
  go/worker/common/worker.go
  go/worker/keymanager/handler.go
  go/worker/keymanager/init.go
  go/worker/storage/committee/node.go
  go/worker/storage/service_external.go
  go/worker/storage/worker.go
Labels: c:breaking

#2507 scripts: unhardcode node binary in txsource wrapper
  .changelog/2507.trivial.md
  go/oasis-test-runner/scenario/e2e/txsource.go
  scripts/txsource-wrapper.sh
Labels: c:testing
