Repository oasisprotocol/oasis-core, pull requests merged in 2019-10, with the labels that each got.

#2263 go/common/cbor: Add `oasis_codec_size` metrics
  go/common/cbor/codec.go
Labels: c:common, c:security, golang

#2268 go/tendermint: ABCI interface cleanup
  go/common/version/version.go
  go/tendermint/abci/context.go
  go/tendermint/abci/mux.go
  go/tendermint/abci/timer.go
  go/tendermint/abci/timer_test.go
  go/tendermint/apps/beacon/beacon.go
  go/tendermint/apps/epochtime_mock/epochtime_mock.go
  go/tendermint/apps/keymanager/keymanager.go
  go/tendermint/apps/registry/registry.go
  go/tendermint/apps/roothash/roothash.go
  go/tendermint/apps/scheduler/scheduler.go
  go/tendermint/apps/staking/staking.go
Labels: c:breaking

#2286 go/common/node: fix address IsRoutable
  go/common/node/address.go
  go/common/node/address_test.go
Labels: c:bug

#2289 go/Makefile: Set `-trimpath`
  go/Makefile
Labels: c:build

#1533 go: Use a faster ed25519 implementation
  go/common/crypto/mrae/api/api.go
  go/common/crypto/mrae/api/api_test.go
  go/common/crypto/signature/signature.go
  go/common/crypto/signature/signers/file/file_signer.go
  go/common/crypto/signature/signers/memory/memory_signer.go
  go/common/node/node_test.go
  go/go.mod
  go/go.sum
  go/registry/api/runtime_test.go
Labels: c:common, golang, p:1

#2287 go tendermint staking: export acceptable transfer peers
  go/tendermint/apps/staking/genesis.go
  go/tendermint/apps/staking/state.go
Labels: c:backend-tendermint

#2295 go/tendermint: Remove unused Query method
  go/tendermint/service/service.go
  go/tendermint/tendermint.go
Labels: c:backend-tendermint

#2291 go/tendermint/abci: Drink the ABCI event flavor-aid
  go/common/version/version.go
  go/epochtime/tendermint_mock/tendermint_mock.go
  go/keymanager/tendermint/tendermint.go
  go/oasis-node/cmd/debug/byzantine/scheduler.go
  go/registry/tendermint/tendermint.go
  go/roothash/tendermint/tendermint.go
  go/scheduler/tendermint/tendermint.go
  go/staking/tendermint/tendermint.go
  go/tendermint/abci/context.go
  go/tendermint/abci/mux.go
  go/tendermint/api/api.go
  go/tendermint/apps/beacon/api.go
  go/tendermint/apps/beacon/beacon.go
  go/tendermint/apps/epochtime_mock/api.go
  go/tendermint/apps/epochtime_mock/epochtime_mock.go
  go/tendermint/apps/keymanager/api.go
  go/tendermint/apps/keymanager/genesis.go
  go/tendermint/apps/keymanager/keymanager.go
  go/tendermint/apps/registry/api.go
  go/tendermint/apps/registry/genesis.go
  go/tendermint/apps/registry/registry.go
  go/tendermint/apps/roothash/api.go
  go/tendermint/apps/roothash/roothash.go
  go/tendermint/apps/scheduler/api.go
  go/tendermint/apps/scheduler/scheduler.go
  go/tendermint/apps/staking/api.go
  go/tendermint/apps/staking/staking.go
  go/tendermint/apps/staking/state.go
Labels: c:backend-tendermint, c:breaking, golang

#2262 runtime: check AVR quote for debug bit
  .buildkite/rust/common.sh
  README.md
  docker/deployment/build_context.sh
  go/common/sgx/ias/avr.go
  go/common/sgx/ias/avr_test.go
  go/common/sgx/ias/ias.go
  go/common/sgx/ias/quote.go
  go/common/sgx/ias/quote_test.go
  go/ias/ias.go
  go/oasis-node/cmd/debug/byzantine/byzantine.go
  go/oasis-node/cmd/debug/byzantine/steps.go
  go/oasis-node/cmd/debug/byzantine/steps_test.go
  go/oasis-test-runner/oasis/args.go
  runtime/src/common/sgx/avr.rs
  runtime/src/lib.rs
Labels: c:breaking-cfg

#2305 Use the optimized ed25519 batch verify where applicable
  go/common/crypto/signature/signature.go
  go/roothash/api/block/header.go
  go/roothash/api/commitment/compute.go
  go/roothash/api/commitment/pool.go
  go/tendermint/abci/mux.go
Labels: c:roothash

#2308 Use a distinct Ed25519 key for all tendermint operations
  go/common/consensus/consensus.go
  go/common/crypto/signature/signer.go
  go/common/crypto/signature/signers/file/file_signer.go
  go/common/crypto/signature/signers/memory/memory_signer.go
  go/common/identity/identity.go
  go/common/identity/identity_test.go
  go/common/node/node.go
  go/common/version/version.go
  go/grpc/common/common.proto
  go/oasis-node/cmd/debug/byzantine/registry.go
  go/oasis-node/cmd/debug/byzantine/steps.go
  go/oasis-node/cmd/node/node.go
  go/oasis-node/cmd/registry/node/node.go
  go/oasis-test-runner/oasis/compute.go
  go/oasis-test-runner/oasis/keymanager.go
  go/oasis-test-runner/oasis/oasis.go
  go/oasis-test-runner/oasis/seed.go
  go/oasis-test-runner/oasis/storage.go
  go/oasis-test-runner/oasis/validator.go
  go/oasis-test-runner/scenario/e2e/dump_restore.go
  go/registry/api/api.go
  go/tendermint/api/api.go
  go/tendermint/apps/scheduler/scheduler.go
  go/tendermint/genesis_single.go
  go/tendermint/service/service.go
  go/tendermint/tendermint.go
  go/worker/registration/registration.go
Labels: c:breaking, c:breaking-cfg, c:security

#2303 split escrow between normal tokens and tokens undergoing debonding
  go/oasis-node/cmd/genesis/genesis.go
  go/staking/api/api.go
  go/staking/grpc.go
  go/staking/tests/tester.go
  go/tendermint/apps/staking/genesis.go
  go/tendermint/apps/staking/staking.go
  go/tendermint/apps/staking/state/state.go
Labels: c:backend-tendermint

#2290 go/tendermint: Add validator slashing
  go/beacon/tendermint/tendermint.go
  go/common/node/node.go
  go/common/version/version.go
  go/epochtime/tendermint_mock/tendermint_mock.go
  go/grpc/registry/entity.proto
  go/keymanager/tendermint/tendermint.go
  go/oasis-node/cmd/debug/byzantine/registry.go
  go/oasis-node/cmd/debug/byzantine/roothash.go
  go/oasis-node/cmd/debug/byzantine/scheduler.go
  go/oasis-node/cmd/debug/byzantine/tendermint.go
  go/oasis-node/node_test.go
  go/registry/api/api.go
  go/registry/api/status.go
  go/registry/tendermint/tendermint.go
  go/registry/tests/tester.go
  go/roothash/api/block/header.go
  go/roothash/tendermint/tendermint.go
  go/roothash/tests/tester.go
  go/scheduler/tendermint/tendermint.go
  go/scheduler/tests/tester.go
  go/staking/api/api.go
  go/staking/api/slashing.go
  go/staking/tendermint/tendermint.go
  go/staking/tests/tendermint.go
  go/staking/tests/tester.go
  go/storage/client/tests/tests.go
  go/tendermint/abci/context.go
  go/tendermint/abci/mux.go
  go/tendermint/apps/beacon/beacon.go
  go/tendermint/apps/beacon/query.go
  go/tendermint/apps/epochtime_mock/epochtime_mock.go
  go/tendermint/apps/epochtime_mock/query.go
  go/tendermint/apps/keymanager/keymanager.go
  go/tendermint/apps/keymanager/query.go
  go/tendermint/apps/registry/api.go
  go/tendermint/apps/registry/genesis.go
  go/tendermint/apps/registry/query.go
  go/tendermint/apps/registry/registry.go
  go/tendermint/apps/registry/state/state.go
  go/tendermint/apps/roothash/query.go
  go/tendermint/apps/roothash/roothash.go
  go/tendermint/apps/roothash/state/round.go
  go/tendermint/apps/scheduler/query.go
  go/tendermint/apps/scheduler/scheduler.go
  go/tendermint/apps/staking/genesis.go
  go/tendermint/apps/staking/query.go
  go/tendermint/apps/staking/slashing.go
  go/tendermint/apps/staking/staking.go
  go/tendermint/apps/staking/state/state.go
  go/tendermint/service/service.go
  go/tendermint/tendermint.go
Labels: c:breaking

#2315 go/common/crypto/signature: Increase domain separation context length
  go/common/crypto/signature/signature.go
  go/common/crypto/signature/signer.go
  go/common/crypto/signature/signers/file/file_signer.go
  go/common/crypto/signature/signers/memory/memory_signer.go
  go/common/entity/entity.go
  go/common/node/node.go
  go/common/sgx/ias/grpc.go
  go/common/version/version.go
  go/keymanager/api/api.go
  go/keymanager/api/policy_sgx.go
  go/oasis-node/cmd/keymanager/keymanager.go
  go/oasis-node/cmd/registry/runtime/runtime.go
  go/registry/api/api.go
  go/registry/api/runtime.go
  go/registry/api/status.go
  go/roothash/api/commitment/compute.go
  go/roothash/api/commitment/merge.go
  go/roothash/api/commitment/txnscheduler.go
  go/staking/api/api.go
  go/storage/api/api.go
  go/worker/common/p2p/crypto.go
  keymanager-runtime/api/src/api.rs
  keymanager-runtime/api/src/lib.rs
  runtime/src/common/roothash.rs
  runtime/src/common/version.rs
  runtime/src/rak.rs
Labels: c:security
