Repository oasisprotocol/oasis-core, pull requests merged in 2020-02, with the labels that each got.

#2636 go/keymanager: Support policy updates
  .changelog/2516.feature.md
  go/consensus/tendermint/apps/keymanager/keymanager.go
  go/consensus/tendermint/apps/keymanager/transactions.go
  go/keymanager/api/api.go
  go/keymanager/api/policy_sgx.go
  go/oasis-node/cmd/keymanager/keymanager.go
  go/registry/api/api.go
Labels: c:keymgmt

#2640 Use base64-encoded IDs/public keys to unify CLI experience
  .changelog/2588.breaking.md
  go/common/crypto/signature/signature.go
  go/common/node/address.go
  go/common/node/address_test.go
  go/genesis/genesis_test.go
  go/oasis-node/cmd/registry/entity/entity.go
  go/oasis-node/cmd/registry/node/node.go
  go/oasis-node/cmd/registry/runtime/runtime.go
  go/oasis-node/cmd/stake/account.go
  go/oasis-test-runner/oasis/cli/cli.go
  go/oasis-test-runner/oasis/cli/registry.go
  go/oasis-test-runner/scenario/e2e/registry_cli.go
  go/oasis-test-runner/scenario/e2e/stake_cli.go
Labels: c:breaking-cfg

#2649 Various CLI improvements
  .changelog/2508.feature.md
  .changelog/2649.breaking.md
  .changelog/2649.bugfix.md
  go/oasis-node/cmd/control/control.go
  go/oasis-node/cmd/debug/tendermint/tendermint.go
  go/oasis-node/cmd/identity/identity.go
  go/oasis-node/cmd/identity/tendermint/tendermint.go
  go/oasis-node/cmd/registry/node/node.go
  go/oasis-test-runner/scenario/e2e/identity_cli.go
  go/oasis-test-runner/scenario/e2e/registry_cli.go
Labels: c:breaking-cfg, c:cli

#2646 go/consensus/tendermint: Expose more P2P config params
  .changelog/2646.breaking.md
  go/consensus/tendermint/tendermint.go
Labels: c:breaking-cfg

#2652 go: Disable additional signature verification for migration
  .changelog/2652.bugfix.md
  go/consensus/tendermint/seed.go
  go/consensus/tendermint/tendermint.go
  go/oasis-node/cmd/debug/fixgenesis/fixgenesis.go
  go/registry/api/api.go
Labels: c:bug, c:registry, c:security

#2621 go: Re-enable signature verification disabled for migration
  .changelog/2615.bugfix.md
  go/consensus/tendermint/apps/registry/genesis.go
  go/consensus/tendermint/apps/supplementarysanity/checks.go
  go/consensus/tendermint/seed.go
  go/consensus/tendermint/tendermint.go
  go/oasis-node/cmd/debug/fixgenesis/fixgenesis.go
  go/registry/api/api.go
  go/registry/api/sanity_check.go
Labels: c:bug, c:registry, c:security

#2642 Optionally require a deposit for registering a runtime
  .changelog/2638.breaking.md
  .changelog/2642.breaking.1.md
  .changelog/2642.breaking.2.md
  go/common/entity/entity.go
  go/common/grpc/policy/policy_test.go
  go/common/namespace.go
  go/common/node/node_test.go
  go/consensus/tendermint/apps/keymanager/keymanager.go
  go/consensus/tendermint/apps/keymanager/transactions.go
  go/consensus/tendermint/apps/registry/registry.go
  go/consensus/tendermint/apps/registry/state/state.go
  go/consensus/tendermint/apps/registry/transactions.go
  go/consensus/tendermint/apps/roothash/roothash.go
  go/consensus/tendermint/apps/scheduler/scheduler.go
  go/consensus/tendermint/apps/staking/state/accumulator.go
  go/consensus/tendermint/apps/staking/state/accumulator_test.go
  go/consensus/tendermint/apps/staking/state/cache.go
  go/genesis/genesis_test.go
  go/oasis-node/cmd/genesis/genesis.go
  go/oasis-node/cmd/registry/runtime/runtime.go
  go/oasis-node/cmd/stake/stake.go
  go/oasis-node/node_test.go
  go/oasis-test-runner/oasis/entity.go
  go/oasis-test-runner/oasis/runtime.go
  go/oasis-test-runner/scenario/e2e/registry_cli.go
  go/oasis-test-runner/scenario/e2e/runtime_dynamic.go
  go/registry/api/api.go
  go/registry/api/runtime.go
  go/registry/tests/tester.go
  go/roothash/api/api.go
  go/runtime/history/history_test.go
  go/staking/api/api.go
  go/staking/api/api_test.go
  go/staking/tests/debug/debug_stake.go
  go/staking/tests/tester.go
  go/storage/crashing_test.go
  go/storage/database/database_test.go
  go/storage/mkvs/urkel/urkel_test.go
  tests/fixture-data/runtime-dynamic/staking-genesis.json
  tests/fixture-data/stake-cli/staking-genesis.json
Labels: c:breaking

#2648 go/registry: Enable non-genesis runtime registrations by default
  .changelog/2406.breaking.md
  go/consensus/tendermint/apps/registry/genesis.go
  go/consensus/tendermint/apps/registry/registry.go
  go/consensus/tendermint/apps/registry/transactions.go
  go/consensus/tendermint/tests/genesis/genesis.go
  go/genesis/genesis_test.go
  go/oasis-node/cmd/genesis/genesis.go
  go/oasis-test-runner/oasis/keymanager.go
  go/oasis-test-runner/oasis/oasis.go
  go/oasis-test-runner/scenario/e2e/registry_cli.go
  go/oasis-test-runner/scenario/e2e/runtime_dynamic.go
  go/registry/api/api.go
  go/registry/api/sanity_check.go
Labels: c:breaking, c:breaking-cfg

#2665 Add sanity checks for stake accumulator state integrity
  .changelog/2665.internal.md
  go/consensus/tendermint/apps/registry/registry.go
  go/consensus/tendermint/apps/registry/transactions.go
  go/consensus/tendermint/apps/staking/genesis.go
  go/consensus/tendermint/apps/supplementarysanity/checks.go
  go/consensus/tendermint/apps/supplementarysanity/supplementarysanity.go
  go/registry/api/api.go
  go/staking/api/sanity_check.go
Labels: c:testing

#2670 go/consensus/tendermint: Don't use `UnsafeSigner`
  .changelog/2670.internal.md
  go/common/crypto/signature/signer.go
  go/common/crypto/signature/signers/file/file_signer.go
  go/consensus/tendermint/crypto/signature.go
  go/consensus/tendermint/crypto/signature_test.go
  go/consensus/tendermint/seed.go
  go/consensus/tendermint/tendermint.go
Labels: c:consensus-tendermint

#2672 go staking: add per-account lockup
  .changelog/2672.breaking.md
  go/consensus/tendermint/apps/staking/transactions.go
  go/consensus/tendermint/apps/staking/transactions_test.go
  go/staking/api/api.go
Labels: c:consensus-tendermint, c:staking

#2554 "unfatalize"
  .changelog/2554.bugfix.md
  go/consensus/tendermint/seed.go
Labels: c:consensus-tendermint

#2691 MKVS fixes and improvements
  .changelog/2691.bugfix.md
  .changelog/2691.internal.1.md
  .changelog/2691.internal.2.md
  go/oasis-node/cmd/debug/byzantine/executor.go
  go/oasis-test-runner/scenario/e2e/storage_sync.go
  go/runtime/transaction/transaction.go
  go/storage/api/root_cache.go
  go/storage/mkvs/urkel/checkpoint/chunk.go
  go/storage/mkvs/urkel/commit.go
  go/storage/mkvs/urkel/debug.go
  go/storage/mkvs/urkel/insert.go
  go/storage/mkvs/urkel/iterator.go
  go/storage/mkvs/urkel/iterator_test.go
  go/storage/mkvs/urkel/lookup.go
  go/storage/mkvs/urkel/overlay.go
  go/storage/mkvs/urkel/overlay_test.go
  go/storage/mkvs/urkel/prefetch.go
  go/storage/mkvs/urkel/remove.go
  go/storage/mkvs/urkel/syncer_test.go
  go/storage/mkvs/urkel/tree.go
  go/storage/mkvs/urkel/urkel.go
  go/storage/mkvs/urkel/urkel_test.go
  runtime/src/storage/mkvs/urkel/tree/iterator.rs
Labels: c:storage

#2697 changelog: Reference multiple issues/pull requests for a single entry
  .changelog/2697.internal.md
  .changelog/README.md
  .changelog/template.md.j2
Labels: c:docs, c:ops

#2704 github: Don't trigger ci-reproducibility workflow for pull requests
  .changelog/2704.internal.md
  .github/workflows/ci-reproducibility.yml
Labels: c:testing

#2686 go/common/crypto/signature/signers/remote: Initial import
  .buildkite/code.pipeline.yml
  .buildkite/scripts/download_e2e_test_artifacts.sh
  .buildkite/scripts/test_e2e.sh
  .changelog/2686.feature.md
  go/.gitignore
  go/Makefile
  go/common/crypto/signature/signer.go
  go/common/crypto/signature/signer_test.go
  go/common/crypto/signature/signers/file/file_signer.go
  go/common/crypto/signature/signers/file/file_signer_test.go
  go/common/crypto/signature/signers/ledger/ledger_signer.go
  go/common/crypto/signature/signers/remote/grpc.go
  go/common/grpc/auth/auth_tls.go
  go/common/grpc/grpc.go
  go/common/identity/identity_test.go
  go/oasis-net-runner/cmd/root.go
  go/oasis-node/cmd/common/common.go
  go/oasis-node/cmd/common/consensus/consensus.go
  go/oasis-node/cmd/common/flags/flags.go
  go/oasis-node/cmd/common/signer/signer.go
  go/oasis-node/cmd/debug/byzantine/steps.go
  go/oasis-node/cmd/identity/identity.go
  go/oasis-node/cmd/keymanager/keymanager.go
  go/oasis-node/cmd/node/node.go
  go/oasis-node/cmd/registry/entity/entity.go
  go/oasis-node/cmd/registry/node/node.go
  go/oasis-node/cmd/registry/runtime/runtime.go
  go/oasis-node/cmd/signer/signer.go
  go/oasis-node/node_test.go
  go/oasis-remote-signer/cmd/root.go
  go/oasis-remote-signer/main.go
  go/oasis-test-runner/cmd/root.go
  go/oasis-test-runner/env/env.go
  go/oasis-test-runner/oasis/entity.go
  go/oasis-test-runner/oasis/oasis.go
  go/oasis-test-runner/oasis/seed.go
  go/oasis-test-runner/oasis/sentry.go
  go/oasis-test-runner/scenario/e2e/identity_cli.go
  go/oasis-test-runner/scenario/e2e/registry_cli.go
  go/oasis-test-runner/scenario/remotesigner/basic.go
  go/oasis-test-runner/test-runner.go
  go/worker/registration/worker.go
Labels: c:common, c:security, golang

#2735 go/oasis-node: Add go toolchain info to `--version`
  .changelog/2730.trivial.md
  go/common/version/version.go
  go/oasis-node/cmd/root.go
Labels: c:cli

#2733 runtime: Remove the non-webpki/snow related uses of ring
  .changelog/2733.internal.md
  Cargo.lock
  runtime/Cargo.toml
  runtime/src/common/crypto/hash.rs
  runtime/src/common/crypto/mrae/deoxysii.rs
  runtime/src/common/crypto/mrae/mod.rs
  runtime/src/lib.rs
  runtime/src/rak.rs
  runtime/src/rpc/types.rs
Labels: c:runtime
