Repository oasisprotocol/oasis-core, pull requests merged in 2020-03, with the labels that each got.

#2750 go: Various requested gRPC API additions.
  .changelog/2739.feature.md
  .changelog/2740.feature.md
  go/consensus/tendermint/apps/registry/query.go
  go/consensus/tendermint/apps/scheduler/query.go
  go/consensus/tendermint/apps/staking/query.go
  go/consensus/tendermint/apps/staking/state/state.go
  go/consensus/tendermint/staking/staking.go
  go/scheduler/api/api.go
  go/scheduler/tests/tester.go
  go/staking/api/api.go
  go/staking/api/grpc.go
Labels: c:apps, c:staking, golang, p:3

#2756 staking/state: fix DelegationsFor queries
  .changelog/2756.bugfix.md
  go/consensus/tendermint/apps/staking/state/state.go
Labels: c:bug

#2763 staking/api/commission: fix possible panic in validation check
  .changelog/2763.bugfix.md
  go/staking/api/commission.go
  go/staking/api/commission_test.go
Labels: c:bug, c:staking

#2762 go/storage/mkvs: Use Badger to manage versions
  .changelog/2674.feature.md
  go/go.mod
  go/go.sum
  go/storage/api/api.go
  go/storage/database/database.go
  go/storage/database/database_test.go
  go/storage/metrics.go
  go/storage/mkvs/urkel/cache.go
  go/storage/mkvs/urkel/checkpoint/checkpoint_test.go
  go/storage/mkvs/urkel/checkpoint/chunk.go
  go/storage/mkvs/urkel/commit.go
  go/storage/mkvs/urkel/db/api/api.go
  go/storage/mkvs/urkel/db/badger/badger.go
  go/storage/mkvs/urkel/db/badger/helpers.go
  go/storage/mkvs/urkel/db/badger/metadata.go
  go/storage/mkvs/urkel/urkel_test.go
  go/worker/storage/committee/node.go
Labels: c:breaking

#2776 Allow running Go unit tests and node tests independently
  .changelog/2776.internal.md
  go/Makefile
Labels: c:testing

#2781 Bump Rust crate versions
  .changelog/2781.trivial.md
  Cargo.lock
Labels: c:deps, c:runtime, c:security

#2777 go/staking: include LastBlockFees in genesis
  .buildkite/code.pipeline.yml
  .changelog/2777.breaking.md
  go/consensus/tendermint/apps/staking/genesis.go
  go/consensus/tendermint/apps/supplementarysanity/checks.go
  go/genesis/genesis_test.go
  go/oasis-node/cmd/stake/stake.go
  go/oasis-test-runner/cmd/root.go
  go/oasis-test-runner/scenario/e2e/basic.go
  go/oasis-test-runner/scenario/e2e/dump_restore.go
  go/oasis-test-runner/scenario/e2e/gas_fees_staking.go
  go/oasis-test-runner/scenario/e2e/halt_restore.go
  go/oasis-test-runner/test-runner.go
  go/staking/api/api.go
  go/staking/api/sanity_check.go
  tests/fixture-data/gas-fees/staking-genesis.json
Labels: c:staking

#2794 go staking: three-way fee split
  .changelog/2794.breaking.md
  go/consensus/tendermint/apps/staking/fees.go
  go/consensus/tendermint/apps/staking/staking.go
  go/consensus/tendermint/apps/staking/state/gas.go
  go/genesis/genesis_test.go
  go/oasis-node/cmd/genesis/genesis.go
  go/oasis-test-runner/scenario/e2e/gas_fees_staking.go
  go/staking/api/api.go
  go/staking/api/api_test.go
  go/staking/api/sanity_check.go
  go/staking/tests/debug/debug_stake.go
  tests/fixture-data/gas-fees-runtimes/staking-genesis.json
  tests/fixture-data/gas-fees/staking-genesis.json
  tests/fixture-data/txsource/staking-genesis.json
Labels: c:consensus-tendermint, c:staking
