Repository oasisprotocol/oasis-core, pull requests merged in 2020-10, with the labels that each got.

#3346 p2p topic ids: include chain ID and remove patch version
  .changelog/3311.breaking.md
  go/common/version/version.go
  go/common/version/version_test.go
  go/worker/common/p2p/dispatch.go
  go/worker/common/p2p/p2p.go
Labels: c:breaking/runtime, c:p2p

#3348 go consensus: add last retained block information
  .changelog/3348.feature.md
  go/consensus/api/api.go
  go/consensus/tendermint/full/full.go
  go/consensus/tests/tester.go
Labels: c:client, c:consensus-tendermint

#3362 backport #3348 to 20.10
  .changelog/3348.feature.md
  go/consensus/api/api.go
  go/consensus/tendermint/full/full.go
  go/consensus/tests/tester.go
Labels: c:backport

#3363 backport #3348 to 20.11
  .changelog/3348.feature.md
  go/consensus/api/api.go
  go/consensus/tendermint/full/full.go
  go/consensus/tests/tester.go
Labels: c:backport

#3369 go/oasis-test-runner: Fix e2e/consensus-state-sync scenario (take two)
  .changelog/3369.internal.md
  go/consensus/tendermint/abci/mux.go
  go/oasis-test-runner/oasis/log.go
  go/oasis-test-runner/scenario/e2e/consensus_state_sync.go
Labels: c:bug, c:testing

#3380 [BACKPORT/20.11.x] go: Update to build on macOS
  .changelog/3333.internal.md
  go/common/crypto/signature/signers/plugin/plugin.go
  go/common/syscall/syscall_darwin.go
  go/common/syscall/syscall_linux.go
  go/oasis-node/cmd/common/isatty.go
  go/oasis-test-runner/env/env.go
Labels: c:backport

#3360 Compare protocol versions according to SemVer 2.0.0
  .changelog/3360.breaking.1.md
  .changelog/3360.breaking.2.md
  .changelog/3360.doc.md
  .changelog/3360.feature.md
  docs/index.md
  docs/toc.md
  docs/versioning.md
  go/common/version/version.go
  go/common/version/version_test.go
  go/consensus/tendermint/abci/mux.go
  go/consensus/tendermint/api/genesis.go
  go/consensus/tendermint/full/statesync.go
  go/consensus/tendermint/seed/seed.go
  go/consensus/tendermint/tests/genesis/genesis.go
  go/runtime/host/protocol/connection.go
  go/worker/common/p2p/p2p.go
  runtime/src/common/version.rs
Labels: c:common

#3398 [BACKPORT/20.11.x] go/consensus/tendermint: Backport bug fixes
  .changelog/3398.bugfix.md
  go/go.mod
  go/go.sum
Labels: c:backport

#3262 ADR 0003: Consensus/Runtime Token Transfer
  .changelog/3262.doc.md
  docs/adr/0003-consensus-runtime-token-transfer.md
  docs/adr/index.md
Labels: c:docs/adr

#3391 failure indicating commitments
  .changelog/3391.breaking.md
  .changelog/3391.internal.md
  go/common/version/version.go
  go/consensus/tendermint/apps/roothash/roothash.go
  go/oasis-node/cmd/debug/byzantine/executor.go
  go/roothash/api/commitment/commitment.go
  go/roothash/api/commitment/executor.go
  go/roothash/api/commitment/executor_test.go
  go/roothash/api/commitment/pool.go
  go/roothash/api/commitment/pool_test.go
  go/roothash/tests/tester.go
  go/runtime/host/mock/mock.go
  go/worker/compute/executor/committee/node.go
  runtime/src/common/roothash.rs
  runtime/src/dispatcher.rs
Labels: c:breaking/consensus, c:breaking/runtime, c:roothash, c:runtime/compute

#3411 [BACKPORT/20.11.x] Storage checkpoint fixes
  .changelog/3241.internal.md
  .changelog/3307.trivial.md
  .changelog/3329.trivial.md
  .changelog/3330.bugfix.md
  go/consensus/tendermint/abci/mux.go
  go/consensus/tendermint/abci/state.go
  go/consensus/tendermint/full/full.go
  go/consensus/tendermint/fuzz/fuzz.go
  go/oasis-node/cmd/debug/consim/mockchain.go
  go/oasis-node/cmd/debug/dumpdb/dumpdb.go
  go/storage/mkvs/cache.go
  go/storage/mkvs/checkpoint/checkpoint.go
  go/storage/mkvs/checkpoint/checkpoint_test.go
  go/storage/mkvs/checkpoint/chunk.go
  go/storage/mkvs/checkpoint/restorer.go
  go/storage/mkvs/commit.go
  go/storage/mkvs/db/api/api.go
  go/storage/mkvs/db/badger/badger.go
  go/storage/mkvs/db/badger/badger_test.go
  go/storage/mkvs/db/badger/metadata.go
  go/storage/mkvs/interop/cmd/protocol_server.go
  go/storage/mkvs/tree_test.go
  go/worker/storage/committee/checkpoint_sync.go
  go/worker/storage/committee/node.go
  go/worker/storage/worker.go
  runtime/src/storage/mkvs/interop/rpc.rs
Labels: c:backport

#3420 [BACKPORT/20.11.x] Add ability to set initial block height at genesis
  .changelog/3416.internal.md
  go/oasis-net-runner/fixtures/default.go
  go/oasis-node/cmd/genesis/genesis.go
  go/oasis-test-runner/oasis/oasis.go
Labels: c:backport

#3396 go/consensus/tendermint: Bump Tendermint Core to v0.34-rc5-oasis1
  .changelog/3317.internal.md
  .changelog/3396.breaking.md
  go/consensus/genesis/genesis.go
  go/consensus/tendermint/api/genesis.go
  go/genesis/genesis_test.go
  go/go.mod
  go/go.sum
  go/oasis-node/cmd/genesis/genesis.go
Labels: c:breaking/consensus

#3284 ADR 0004: Runtime Governance
  .changelog/3284.doc.md
  docs/adr/0004-runtime-governance.md
  docs/adr/index.md
Labels: c:docs/adr

#3439 ADR-0007: Improved Random Beacon
  .changelog/3439.doc.md
  docs/adr/0007-improved-random-beacon.md
  docs/adr/index.md
Labels: c:docs/adr

#3433 go/staking: Add support for beneficiary allowances
  .changelog/3428.breaking.md
  docs/adr/0003-consensus-runtime-token-transfer.md
  go/consensus/tendermint/apps/staking/api.go
  go/consensus/tendermint/apps/staking/staking.go
  go/consensus/tendermint/apps/staking/transactions.go
  go/consensus/tendermint/apps/staking/transactions_test.go
  go/consensus/tendermint/staking/staking.go
  go/oasis-node/cmd/debug/txsource/workload/queries.go
  go/oasis-node/cmd/debug/txsource/workload/transfer.go
  go/oasis-node/node_test.go
  go/oasis-test-runner/oasis/oasis.go
  go/oasis-test-runner/scenario/e2e/runtime/txsource.go
  go/staking/api/api.go
  go/staking/api/grpc.go
  go/staking/api/sanity_check.go
  go/staking/tests/debug/debug_stake.go
  go/staking/tests/tester.go
Labels: c:breaking/consensus

#3339 ADR 0005: Runtime Compute Node Slashing
  .changelog/3339.doc.md
  docs/adr/0005-runtime-compute-slashing.md
  docs/adr/index.md
Labels: c:docs/adr
