Repository oasisprotocol/oasis-core, pull requests merged in 2020-06, with the labels that each got.

#2963 go/registry: Drop support for v0 node descriptor
  .changelog/2918.breaking.md
  go/oasis-test-runner/scenario/e2e/e2e.go
  go/oasis-test-runner/scenario/e2e/restore_previous.go
  go/registry/api/api.go
  go/registry/api/legacy_v0.go
Labels: c:breaking

#2976 scripts: Remove obsolete scripts
  scripts/build-run-e2e-cov.sh
  scripts/ci-changed.sh
  scripts/determine-build-versioning.sh
  scripts/make-release.py
  scripts/parse_enclave.py
  scripts/plot_storage_bench.sh
Labels: c:extra

#2992 Disallow v0 entity/node/runtime descriptors
  .changelog/2992.breaking.md
  go/common/entity/entity.go
  go/common/node/node.go
  go/registry/api/runtime.go
  go/upgrade/migrations/dummy.go
  tests/fixture-data/consim/genesis.json
Labels: c:breaking

#2995 registry: Add runtime-specific staking thresholds
  .changelog/2995.breaking.md
  docs/consensus/registry.md
  go/common/quantity/quantity.go
  go/consensus/tendermint/apps/registry/transactions.go
  go/consensus/tendermint/apps/registry/transactions_test.go
  go/consensus/tendermint/apps/staking/state/accumulator.go
  go/consensus/tendermint/apps/staking/state/accumulator_test.go
  go/oasis-node/cmd/registry/runtime/runtime.go
  go/oasis-test-runner/oasis/cli/registry.go
  go/oasis-test-runner/oasis/fixture.go
  go/oasis-test-runner/oasis/runtime.go
  go/oasis-test-runner/scenario/e2e/registry_cli.go
  go/registry/api/api.go
  go/registry/api/runtime.go
  go/registry/api/sanity_check.go
  go/registry/tests/tester.go
  go/staking/api/api.go
  go/staking/api/api_test.go
  go/upgrade/migrations/dummy.go
  tests/fixture-data/consim/genesis.json
  tests/fixture-data/debond/staking-genesis.json
  tests/fixture-data/net-runner/default.json
  tests/fixture-data/runtime-dynamic/staking-genesis.json
  tests/fixture-data/stake-cli/staking-genesis.json
Labels: c:breaking

#3006 docs: Refactor setup instructions, add single validator node setup
  .changelog/3006.doc.md
  README.md
  docs/index.md
  docs/setup/building.md
  docs/setup/oasis-net-runner.md
  docs/setup/prerequisites.md
  docs/setup/running-tests.md
  docs/setup/single-validator-node-network.md
Labels: c:docs

#3016 go/oasis-node/cmd/stake: Make list command's verbose output consistent
  .buildkite/pipeline.sh
  .changelog/3016.breaking.md
  .changelog/3016.internal.md
  go/oasis-node/cmd/stake/account.go
  go/oasis-node/cmd/stake/stake.go
Labels: c:breaking, c:cli, c:staking

#3009 Add a CLI command for converting entities' ids to their staking account addresses
  .changelog/3003.feature.md
  go/oasis-node/cmd/stake/stake.go
  go/oasis-test-runner/scenario/e2e/stake_cli.go
Labels: c:cli, c:staking

#3038 Update TLSAddressRequiredRoles and update node control API
  .changelog/3038.breaking.md
  .changelog/3038.feature.1.md
  .changelog/3038.feature.2.md
  .changelog/3038.feature.3.md
  go/consensus/api/api.go
  go/consensus/tendermint/tendermint.go
  go/control/api/api.go
  go/control/control.go
  go/oasis-node/cmd/debug/txsource/workload/queries.go
  go/oasis-node/cmd/node/control.go
  go/oasis-node/cmd/node/node.go
  go/oasis-test-runner/scenario/e2e/early_query.go
  go/oasis-test-runner/scenario/e2e/node_shutdown.go
  go/registry/api/api.go
  go/worker/registration/worker.go
Labels: c:breaking

#3040 go/consensus/tendermint: Fix node update verification
  .changelog/3040.breaking.md
  go/consensus/tendermint/api/context_test.go
  go/consensus/tendermint/api/state.go
  go/consensus/tendermint/apps/registry/state/state_test.go
  go/consensus/tendermint/apps/registry/transactions.go
  go/consensus/tendermint/apps/registry/transactions_test.go
  go/consensus/tendermint/apps/staking/slashing_test.go
  go/consensus/tendermint/apps/staking/state/accumulator_test.go
  go/consensus/tendermint/apps/staking/state/state_test.go
  go/consensus/tendermint/apps/staking/transactions_test.go
Labels: c:breaking

#3042 docs: Add the Accounts section of the Staking docs
  .changelog/3005.doc.md
  .changelog/3042.doc.md
  docs/consensus/staking.md
  go/staking/api/api.go
  go/staking/api/commission.go
Labels: c:docs, c:staking

#3044 go/oasis-test-runner: List all available scenarios
  .changelog/3044.internal.md
  go/oasis-test-runner/cmd/cmp/cmp.go
  go/oasis-test-runner/cmd/common/common.go
  go/oasis-test-runner/cmd/root.go
Labels: c:cli, c:testing

#3068 docs: add voting power description
  .changelog/3068.trivial.md
  docs/consensus/scheduler.md
Labels: c:consensus-tendermint, c:docs

#3070 docs: describe validator scheduling
  .changelog/3070.trivial.md
  docs/consensus/scheduler.md
Labels: c:consensus-tendermint, c:docs
