Repository oasisprotocol/oasis-core, pull requests merged in 2020-01, with the labels that each got.

#2528 go/oasis-node: Reduce node test flakiness on certain systems
  .changelog/2528.trivial.md
  go/roothash/tests/tester.go
  go/worker/txnscheduler/tests/tester.go
Labels: c:roothash, c:testing, golang

#2530 go: Use the new runtime ID allocation scheme
  .changelog/1693.breaking.md
  docs/runtime-id.md
  go/common/grpc/policy_test.go
  go/common/namespace.go
  go/consensus/tendermint/apps/beacon/beacon.go
  go/consensus/tendermint/apps/keymanager/genesis.go
  go/consensus/tendermint/apps/registry/genesis.go
  go/consensus/tendermint/apps/registry/transactions.go
  go/consensus/tendermint/tests/genesis/genesis.go
  go/genesis/tests/tester.go
  go/oasis-net-runner/fixtures/default.go
  go/oasis-node/cmd/debug/byzantine/steps.go
  go/oasis-node/cmd/debug/storage/storage.go
  go/oasis-node/cmd/genesis/genesis.go
  go/oasis-node/cmd/registry/runtime/runtime.go
  go/oasis-node/node_test.go
  go/oasis-test-runner/oasis/oasis.go
  go/oasis-test-runner/scenario/e2e/common.go
  go/oasis-test-runner/scenario/e2e/registry_cli.go
  go/registry/api/api.go
  go/registry/tests/tester.go
  go/roothash/tests/tester.go
  go/runtime/history/history_test.go
  go/scheduler/tests/tester.go
  go/storage/client/tests/tests.go
  go/storage/crashing_test.go
  go/storage/database/database_test.go
  go/storage/mkvs/urkel/urkel_test.go
  go/worker/storage/worker.go
  keymanager-runtime/src/main.rs
  tests/runtimes/simple-keyvalue/src/main.rs
Labels: c:breaking, c:breaking-cfg, golang

#2504 Roothash processing fees
  .changelog/2504.breaking.md
  go/Makefile
  go/common/crypto/signature/signature.go
  go/consensus/tendermint/abci/context.go
  go/consensus/tendermint/apps/beacon/beacon.go
  go/consensus/tendermint/apps/registry/genesis.go
  go/consensus/tendermint/apps/registry/state/state.go
  go/consensus/tendermint/apps/registry/transactions.go
  go/consensus/tendermint/apps/roothash/genesis.go
  go/consensus/tendermint/apps/roothash/query.go
  go/consensus/tendermint/apps/roothash/roothash.go
  go/consensus/tendermint/apps/roothash/state/state.go
  go/consensus/tendermint/apps/roothash/transactions.go
  go/consensus/tendermint/apps/supplementarysanity/checks.go
  go/consensus/tendermint/tests/genesis/genesis.go
  go/keymanager/client/client.go
  go/oasis-node/cmd/debug/byzantine/byzantine.go
  go/oasis-node/cmd/debug/byzantine/epochtime.go
  go/oasis-test-runner/oasis/args.go
  go/oasis-test-runner/oasis/byzantine.go
  go/oasis-test-runner/oasis/cli/cli.go
  go/oasis-test-runner/oasis/cli/consensus.go
  go/oasis-test-runner/oasis/cli/registry.go
  go/oasis-test-runner/oasis/client.go
  go/oasis-test-runner/oasis/compute.go
  go/oasis-test-runner/oasis/controller.go
  go/oasis-test-runner/oasis/fixture.go
  go/oasis-test-runner/oasis/ias.go
  go/oasis-test-runner/oasis/keymanager.go
  go/oasis-test-runner/oasis/oasis.go
  go/oasis-test-runner/oasis/runtime.go
  go/oasis-test-runner/oasis/storage.go
  go/oasis-test-runner/oasis/validator.go
  go/oasis-test-runner/scenario/e2e/basic.go
  go/oasis-test-runner/scenario/e2e/byzantine.go
  go/oasis-test-runner/scenario/e2e/common.go
  go/oasis-test-runner/scenario/e2e/consensus_cli.go
  go/oasis-test-runner/scenario/e2e/dump_restore.go
  go/oasis-test-runner/scenario/e2e/halt_restore.go
  go/oasis-test-runner/scenario/e2e/identity_cli.go
  go/oasis-test-runner/scenario/e2e/keymanager_restart.go
  go/oasis-test-runner/scenario/e2e/node_shutdown.go
  go/oasis-test-runner/scenario/e2e/registry_cli.go
  go/oasis-test-runner/scenario/e2e/runtime_dynamic.go
  go/oasis-test-runner/scenario/e2e/runtime_prune.go
  go/oasis-test-runner/scenario/e2e/sentry.go
  go/oasis-test-runner/scenario/e2e/stake_cli.go
  go/oasis-test-runner/scenario/e2e/storage_sync.go
  go/oasis-test-runner/scenario/e2e/txsource.go
  go/oasis-test-runner/test-runner.go
  go/registry/api/api.go
  go/registry/api/runtime.go
  go/roothash/api/api.go
  go/roothash/api/block/header.go
  go/storage/client/client.go
  go/storage/mkvs/urkel/writelog/writelog.go
  go/worker/common/committee/group.go
  go/worker/common/committee/node.go
  runtime/src/common/bytes.rs
Labels: c:breaking

#2559 Release tooling improvements
  .changelog/2559.trivial.md
  .github/workflows/ci.yml
  Makefile
  common.mk
Labels: c:ops

#2514 go node: unite compute, merge, and transaction scheduler roles
  .changelog/2107.breaking.md
  go/common/node/node.go
  go/consensus/tendermint/apps/beacon/beacon.go
  go/consensus/tendermint/apps/scheduler/scheduler.go
  go/oasis-node/cmd/debug/byzantine/byzantine.go
  go/oasis-node/cmd/debug/byzantine/merge.go
  go/oasis-node/cmd/debug/byzantine/scheduler.go
  go/oasis-node/cmd/debug/byzantine/scheduler_test.go
  go/oasis-node/cmd/node/node.go
  go/oasis-node/cmd/registry/node/node.go
  go/oasis-node/node_test.go
  go/oasis-test-runner/oasis/args.go
  go/oasis-test-runner/oasis/compute.go
  go/oasis-test-runner/oasis/oasis_test.go
  go/oasis-test-runner/scenario/e2e/byzantine.go
  go/oasis-test-runner/scenario/e2e/runtime_dynamic.go
  go/registry/api/api.go
  go/registry/tests/tester.go
  go/worker/compute/init.go
  go/worker/computeenable/init.go
  go/worker/merge/init.go
  go/worker/merge/worker.go
  go/worker/txnscheduler/init.go
  go/worker/txnscheduler/worker.go
Labels: c:breaking, c:breaking-cfg, c:registry, c:worker-compute, c:worker-merge, c:worker-txnsched

#2560 go/sentry: simplify tm sentry flags
  .changelog/2362.breaking.md
  go/consensus/tendermint/tendermint.go
  go/oasis-node/cmd/node/node.go
  go/oasis-test-runner/oasis/args.go
  go/oasis-test-runner/oasis/client.go
  go/oasis-test-runner/oasis/compute.go
  go/oasis-test-runner/oasis/keymanager.go
  go/oasis-test-runner/oasis/sentry.go
  go/oasis-test-runner/oasis/storage.go
  go/oasis-test-runner/oasis/validator.go
  go/worker/common/config.go
  go/worker/common/configparser/configparser.go
  go/worker/registration/worker.go
  go/worker/sentry/worker.go
Labels: c:breaking-cfg

#2583 go/registry: Add `ConsensusParams.MaxNodeExpiration`
  .changelog/2580.breaking.md
  go/consensus/tendermint/apps/registry/transactions.go
  go/consensus/tendermint/apps/supplementarysanity/checks.go
  go/genesis/api/api.go
  go/oasis-node/cmd/genesis/genesis.go
  go/oasis-test-runner/oasis/oasis.go
  go/registry/api/api.go
Labels: c:breaking, c:registry, golang

#2586 go/consensus/tendermint: Always accept own transactions
  .changelog/2586.bugfix.md
  go/consensus/tendermint/abci/mux.go
  go/consensus/tendermint/apps/staking/state/gas.go
  go/consensus/tendermint/tendermint.go
Labels: c:consensus-tendermint

#2575 go/registry: deduplicate registry sanity checks
  .changelog/2428.bugfix.md
  go/common/crypto/hash/hash.go
  go/consensus/tendermint/apps/registry/transactions.go
  go/consensus/tendermint/apps/supplementarysanity/checks.go
  go/genesis/api/api.go
  go/genesis/api/sanity_check.go
  go/registry/api/api.go
  go/registry/api/sanity_check.go
  go/staking/api/api.go
  go/staking/api/sanity_check.go
Labels: c:registry

#2595 changelog: Introduce "Internal changes" Change Log section
  .changelog/2595.trivial.md
  .changelog/README.md
  towncrier.toml
Labels: c:ops

#2591 go oasis-node: runtime node admission policy CLI
  .changelog/2563.feature.md
  go/oasis-net-runner/fixtures/default.go
  go/oasis-node/cmd/registry/runtime/runtime.go
  go/oasis-test-runner/oasis/cli/registry.go
  go/oasis-test-runner/oasis/fixture.go
  go/oasis-test-runner/oasis/runtime.go
  go/oasis-test-runner/scenario/e2e/basic.go
  go/oasis-test-runner/scenario/e2e/multiple_runtimes.go
  go/oasis-test-runner/scenario/e2e/registry_cli.go
Labels: c:cli, c:registry

#2600 registry: bug fixes
  .changelog/2058.breaking.md
  .changelog/2598.bugfix.md
  .changelog/2599.breaking.md
  go/common/crypto/signature/signature.go
  go/common/crypto/signature/signers/memory/memory_signer.go
  go/common/crypto/tls/cert.go
  go/common/identity/identity.go
  go/common/identity/identity_test.go
  go/common/node/node.go
  go/consensus/tendermint/apps/registry/genesis.go
  go/consensus/tendermint/apps/registry/registry.go
  go/consensus/tendermint/apps/registry/state/state.go
  go/consensus/tendermint/apps/registry/transactions.go
  go/genesis/tests/tester.go
  go/oasis-node/cmd/debug/byzantine/registry.go
  go/oasis-node/cmd/genesis/genesis.go
  go/oasis-node/cmd/registry/entity/entity.go
  go/oasis-node/cmd/registry/node/node.go
  go/oasis-test-runner/scenario/e2e/registry_cli.go
  go/registry/api/api.go
  go/registry/api/sanity_check.go
  go/registry/tests/tester.go
  go/worker/registration/worker.go
Labels: c:breaking, c:registry, c:security, p:0

#2601 go/registry: Disallow entity signed node registrations
  .changelog/2594.breaking.md
  go/consensus/tendermint/tests/genesis/genesis.go
  go/oasis-node/cmd/genesis/genesis.go
  go/oasis-node/cmd/registry/node/node.go
  go/oasis-test-runner/oasis/args.go
  go/oasis-test-runner/oasis/entity.go
  go/registry/api/api.go
  go/registry/api/sanity_check.go
  go/worker/registration/worker.go
Labels: c:breaking, c:registry

#2603 Smaller release tooling improvements
  .changelog/2603.trivial.md
  .github/workflows/release.yml
  README.md
  common.mk
Labels: c:ops

#2614 go/registry: Handle the old and busted node descriptor envelope
  .changelog/2614.feature.md
  go/consensus/tendermint/apps/registry/genesis.go
  go/consensus/tendermint/apps/supplementarysanity/checks.go
  go/oasis-node/cmd/debug/debug.go
  go/oasis-node/cmd/debug/fixgenesis/fixgenesis.go
  go/registry/api/api.go
  go/registry/api/sanity_check.go
Labels: c:registry, c:security

#2620 go/oasis-node/cmd/debug/fixgenesis: Support migrating Node.Roles
  .changelog/2620.feature.md
  go/oasis-node/cmd/debug/fixgenesis/fixgenesis.go
Labels: c:cli, c:registry

#2619 go/cmd: add explicit --wait flag, prepend unix: if user forgets it
  .changelog/2438.trivial.md
  go/oasis-node/cmd/common/grpc/grpc.go
  go/oasis-test-runner/oasis/args.go
  go/oasis-test-runner/oasis/ias.go
  go/oasis-test-runner/scenario/e2e/txsource.go
Labels: c:cli
