Repository oasisprotocol/oasis-core, pull requests merged in 2020-08, with the labels that each got.

#3160 go/storage/mkvs/checkpoint: Remove empty version directories
  .changelog/3160.bugfix.md
  go/storage/mkvs/checkpoint/checkpoint.go
  go/storage/mkvs/checkpoint/checkpoint_test.go
  go/storage/mkvs/checkpoint/checkpointer.go
  go/storage/mkvs/checkpoint/checkpointer_test.go
  go/storage/mkvs/checkpoint/file.go
Labels: c:storage

#3173 go/consensus/tendermint: Sync state database before discarding versions
  .changelog/3173.bugfix.md
  go/consensus/tendermint/abci/prune.go
  go/storage/mkvs/db/api/api.go
  go/storage/mkvs/db/badger/badger.go
Labels: c:bug, c:consensus-tendermint

#3174 Add GitBook configuration
  .buildkite/pipeline.sh
  .changelog/3174.trivial.md
  .gitbook.yaml
  docs/toc.md
Labels: c:docs

#3167 Pretty print transaction's gas amount in token units
  .changelog/3151.feature.md
  .changelog/3167.feature.1.md
  .changelog/3167.feature.2.md
  go/common/prettyprint/context.go
  go/consensus/api/transaction/gas.go
  go/consensus/api/transaction/transaction.go
  go/genesis/genesis_test.go
  go/oasis-node/cmd/consensus/consensus.go
  go/oasis-node/cmd/stake/account.go
  go/oasis-node/cmd/stake/stake.go
  go/oasis-test-runner/scenario/e2e/stake_cli.go
  go/staking/api/api.go
  go/staking/api/prettyprint.go
  go/staking/api/prettyprint_test.go
  go/staking/api/sanity_check.go
  go/staking/api/token/prettyprint.go
  go/staking/api/token/prettyprint_test.go
  go/staking/api/token/token.go
Labels: c:cli, c:consensus-tendermint, c:staking

#3175 docs/adr: Fix index and add minor update to ADR 0001
  .changelog/3175.trivial.md
  docs/adr/0001-tm-multi-root-apphash.md
  docs/adr/index.md
Labels: c:docs

#3195 docs: Minor TOC fixes
  .changelog/3195.trivial.md
  docs/toc.md
Labels: c:docs

#3202 docs/setup: Add common issues section
  .changelog/3202.trivial.md
  docs/setup/oasis-net-runner.md
  docs/setup/prerequisites.md
Labels: c:docs

#3204 go/common/cbor: Bump fxamacker/cbor to 58b1cf4afc2b
  .changelog/3204.breaking.md
  go/common/cbor/versioned.go
  go/genesis/genesis_test.go
  go/go.mod
  go/go.sum
Labels: c:breaking

#3205 docs: Expand documentation on test vectors
  .changelog/3205.doc.md
  docs/consensus/registry.md
  docs/consensus/staking.md
  docs/consensus/test-vectors.md
  docs/crypto.md
  docs/index.md
  docs/toc.md
Labels: c:docs

#3208 docs: Various minor fixes
  .changelog/3208.trivial.md
  README.md
  docs/oasis-node/rpc.md
  docs/runtime/index.md
  docs/setup/deploying-a-runtime.md
  docs/setup/single-validator-node-network.md
Labels: c:docs

#3217 [BACKPORT/20.9.x] go/oasis-node: Omit existing entity check for non-file signers
  .changelog/3215.bugfix.md
  go/oasis-node/cmd/registry/entity/entity.go
Labels: c:backport
