Repository oasisprotocol/oasis-core, pull requests merged in 2020-09, with the labels that each got.

#3225 go/common/crypto/signature: Use descriptive names for Signer roles
  .changelog/3225.breaking.md
  .changelog/3225.cfg.md
  .changelog/3225.feature.md
  go/common/crypto/signature/signer.go
  go/common/crypto/signature/signer_test.go
  go/oasis-node/cmd/common/signer/signer.go
  go/oasis-node/cmd/common/signer/signer_test.go
Labels: c:breaking-cfg, c:cli

#3235 docs/oasis-node/rpc: Fix link
  .changelog/3235.trivial.md
  docs/index.md
  docs/oasis-node/rpc.md
  docs/toc.md
Labels: c:docs

#3233 go: Unify CLI tools' version display
  .changelog/3233.feature.2.md
  .changelog/3233.feature.md
  go/extra/stats/cmd/root.go
  go/oasis-net-runner/cmd/root.go
  go/oasis-node/cmd/common/common.go
  go/oasis-remote-signer/cmd/root.go
  go/oasis-test-runner/cmd/root.go
Labels: c:cli

#3238 go: Update Go dependencies
  .changelog/3238.internal.md
  go/go.mod
  go/go.sum
  go/worker/common/p2p/p2p.go
  go/worker/common/p2p/peermgmt.go
Labels: golang

#3240 Fix staking account address derivation description to match the code
  .changelog/3240.doc.md
  docs/consensus/staking.md
Labels: c:docs, c:staking

#3229 go/consensus/tendermint: Bump Tendermint Core to v0.34-rc4-oasis2
  .changelog/3229.breaking.md
  go/consensus/api/base.go
  go/consensus/api/grpc.go
  go/consensus/api/light.go
  go/consensus/tendermint/api/genesis.go
  go/consensus/tendermint/apps/staking/staking.go
  go/consensus/tendermint/full/light.go
  go/consensus/tendermint/full/statesync.go
  go/consensus/tendermint/light/client.go
  go/consensus/tendermint/light/light.go
  go/consensus/tests/tester.go
  go/extra/stats/cmd/stats.go
  go/go.mod
  go/go.sum
Labels: c:consensus-tendermint

#3237 backport #3193
  .changelog/3192.feature.md
  go/consensus/api/api.go
  go/consensus/tendermint/full/full.go
  go/consensus/tests/tester.go
Labels: c:backport

#3249 Bump protocol versions to 1.0.0 in preparation for the Mainnet
  .changelog/3249.breaking.md
  .changelog/3249.internal.md
  docs/release-process.md
  docs/versioning.md
  go/common/version/version.go
  runtime/src/common/version.rs
Labels: c:common, c:docs

#3248 go/runtime/transaction: Ensure consistent batch order indices
  .changelog/3248.bugfix.md
  go/oasis-node/cmd/debug/byzantine/executor.go
  go/runtime/transaction/transaction.go
  go/runtime/transaction/transaction_test.go
  runtime/src/dispatcher.rs
Labels: c:bug, c:runtime

#3252 go/worker/storage: Always use fresh nodes for policy updates
  .changelog/3252.bugfix.md
  go/worker/storage/committee/node.go
Labels: c:bug, c:storage

#3242 ADR 0002: Go Modules Compatible Git Tags
  .changelog/3242.doc.md
  docs/adr/0002-go-modules-compatible-git-tags.md
Labels: c:docs/adr

#3253 go/worker/common: Use group-synced storage client
  .changelog/3253.bugfix.md
  .changelog/3253.internal.md
  go/runtime/committee/nodes.go
  go/storage/api/api.go
  go/storage/client/client.go
  go/storage/client/init.go
  go/storage/metrics.go
  go/worker/common/committee/group.go
  go/worker/common/committee/node.go
  go/worker/compute/executor/committee/node.go
  go/worker/storage/committee/node.go
Labels: c:bug, c:storage, c:worker-exec

#3258 Make: Automatically create Go Modules compatible Git tag
  .changelog/3258.internal.md
  Makefile
  common.mk
  docs/adr/index.md
Labels: c:ops

#3266 docs: Fix wrong indentation of Ubuntu system packages install command
  .changelog/3266.trivial.md
  docs/setup/prerequisites.md
Labels: c:bug, c:docs

#3267 go/consensus/tendermint: Don't swallow recheck result errors
  .changelog/3267.bugfix.md
  go/consensus/tendermint/abci/mux.go
Labels: c:bug, c:consensus-tendermint

#3265 Pretty print commission schedule rates and rate bounds as enumerated lists
  .changelog/3265.feature.1.md
  .changelog/3265.feature.2.md
  go/common/prettyprint/context.go
  go/oasis-test-runner/scenario/e2e/stake_cli.go
  go/staking/api/commission.go
  go/staking/api/commission_test.go
  go/staking/api/prettyprint.go
  go/staking/api/prettyprint_test.go
Labels: c:cli, c:staking

#3277 [BACKPORT/20.10.x] go/worker/p2p: configurable libp2p buffer sizes
  .buildkite/code.pipeline.yml
  .buildkite/longtests.pipeline.yml
  .changelog/3264.bugfix.md
  .changelog/3264.cfg.md
  go/runtime/client/watcher.go
  go/worker/common/p2p/init.go
  go/worker/common/p2p/p2p.go
Labels: c:backport

#3273 [BACKPORT/20.10.x] Pretty print commission schedule rates and rate bounds as enumerated lists
  .changelog/3265.feature.1.md
  .changelog/3265.feature.2.md
  go/common/prettyprint/context.go
  go/oasis-test-runner/scenario/e2e/stake_cli.go
  go/staking/api/commission.go
  go/staking/api/commission_test.go
  go/staking/api/prettyprint.go
  go/staking/api/prettyprint_test.go
Labels: c:backport

#3271 go/runtime/client: Fix possible panic on shutdown
  .changelog/3271.bugfix.md
  go/runtime/client/client.go
  go/runtime/client/watcher.go
Labels: c:bug, c:client, c:runtime

#3287 go/consensus/tests: Use same height when comparing GetTransations results
  .changelog/3287.internal.md
  go/consensus/tests/tester.go
Labels: c:testing

#3278 Introduce the canonical form of Genesis files
  .changelog/2757.feature.md
  .changelog/3278.internal.md
  docs/consensus/genesis.md
  docs/index.md
  docs/toc.md
  go/oasis-node/cmd/genesis/genesis.go
  go/oasis-test-runner/oasis/oasis.go
  go/oasis-test-runner/scenario/e2e/e2e.go
  go/oasis-test-runner/scenario/e2e/genesis_file.go
Labels: c:cli, c:ops

#3293 docs/setup: Update for latest version
  .changelog/3293.trivial.md
  docs/setup/single-validator-node-network.md
Labels: c:bug, c:docs

#3298 go/oasis-node/cmd/genesis: Add check for canonical form to check command & Docs
  .changelog/3298.doc.md
  .changelog/3298.feature.md
  docs/oasis-node/cli.md
  go/oasis-node/cmd/genesis/genesis.go
  go/oasis-test-runner/scenario/e2e/genesis_file.go
Labels: c:cli, c:docs

#3312 docs: Document genesis document's hash
  .changelog/3312.doc.md
  docs/consensus/genesis.md
  docs/crypto.md
Labels: c:docs

#3317 go/consensus/tendermint: Bump Tendermint Core to v0.34-rc4-oasis3
  .changelog/3317.internal.md
  go/consensus/tendermint/api/api.go
  go/consensus/tendermint/full/full.go
  go/consensus/tendermint/full/light.go
  go/consensus/tendermint/full/statesync.go
  go/consensus/tendermint/light/client.go
  go/consensus/tendermint/registry/registry.go
  go/consensus/tendermint/roothash/roothash.go
  go/consensus/tendermint/staking/staking.go
  go/consensus/tendermint/tests/evidence.go
  go/go.mod
  go/go.sum
Labels: c:consensus-tendermint

#3342 go/executor/node: check if we are in correct state before publishing a message
  .changelog/3342.trivial.md
  go/worker/compute/executor/committee/node.go
Labels: c:bug

#3327 Refactor release tooling
  .changelog/3327.doc.md
  .changelog/3327.internal.1.md
  .changelog/3327.internal.2.md
  .changelog/3327.internal.3.md
  .changelog/3327.internal.4.md
  .changelog/3327.internal.5.md
  .github/workflows/release.yml
  .goreleaser.yml
  .punch_config.py
  .punch_version.py
  Makefile
  common.mk
  docs/release-process.md
  towncrier.toml
Labels: c:ops

#3345 Make: Properly handle relative paths in common.mk
  .changelog/3345.internal.md
  common.mk
Labels: c:ops

#3336 go/consensus/tendermint: Bump Tendermint Core to v0.34-rc4-oasis4
  .changelog/3336.trivial.md
  go/go.mod
  go/go.sum
Labels: c:consensus-tendermint
