Repository oasisprotocol/oasis-core, pull requests merged in 2020-05, with the labels that each got.

#2843 go/oasis-test-runner/oasis: Add a keymanager replication test
  .changelog/2843.breaking.6.md
  .changelog/2843.bugfix.1.md
  .changelog/2843.bugfix.2.md
  .changelog/2843.bugfix.3.md
  .changelog/2843.feature.4.md
  .changelog/2843.feature.5.md
  go/consensus/tendermint/keymanager/keymanager.go
  go/keymanager/api/api.go
  go/keymanager/api/grpc.go
  go/keymanager/client/client.go
  go/oasis-net-runner/fixtures/default.go
  go/oasis-net-runner/fixtures/fixtures_test.go
  go/oasis-node/cmd/node/node.go
  go/oasis-test-runner/cmd/root.go
  go/oasis-test-runner/oasis/controller.go
  go/oasis-test-runner/oasis/fixture.go
  go/oasis-test-runner/oasis/keymanager.go
  go/oasis-test-runner/oasis/oasis.go
  go/oasis-test-runner/scenario/e2e/e2e.go
  go/oasis-test-runner/scenario/e2e/keymanager_replicate.go
  go/oasis-test-runner/scenario/e2e/runtime.go
  go/oasis-test-runner/scenario/e2e/upgrade.go
  go/oasis-test-runner/scenario/e2e/upgrade_cancel.go
  go/worker/common/runtime_host.go
  go/worker/keymanager/handler.go
  go/worker/keymanager/init.go
  go/worker/keymanager/watcher.go
  go/worker/keymanager/worker.go
  keymanager-lib/src/kdf.rs
  tests/fixture-data/net-runner/default.json
Labels: c:keymgmt, c:testing

#2748 Add sanity check for registered entities' stake
  .changelog/2748.bugfix.md
  .changelog/2748.internal.md
  go/consensus/tendermint/apps/supplementarysanity/checks.go
  go/genesis/api/sanity_check.go
  go/registry/api/api.go
  go/registry/api/sanity_check.go
Labels: c:bug, c:consensus-tendermint, c:registry, c:staking

#2896 go stats: new availability v3 formula
  .changelog/2896.feature.md
  go/extra/stats/cmd/stats.go
Labels: c:extra

#2907 Refactor the runtime host APIs
  .buildkite/go/test_and_coverage.sh
  .changelog/2801.breaking.md
  go/common/version/version.go
  go/oasis-net-runner/fixtures/default.go
  go/oasis-node/node_test.go
  go/oasis-test-runner/oasis/args.go
  go/oasis-test-runner/oasis/compute.go
  go/oasis-test-runner/oasis/fixture.go
  go/oasis-test-runner/oasis/keymanager.go
  go/oasis-test-runner/oasis/oasis.go
  go/oasis-test-runner/scenario/e2e/gas_fees_staking.go
  go/oasis-test-runner/scenario/e2e/runtime.go
  go/oasis-test-runner/scenario/e2e/upgrade.go
  go/oasis-test-runner/scenario/e2e/upgrade_cancel.go
  go/runtime/host/host.go
  go/runtime/host/mock/mock.go
  go/runtime/host/protocol/connection.go
  go/runtime/host/protocol/connection_test.go
  go/runtime/host/protocol/types.go
  go/runtime/host/sandbox/process/bwrap.go
  go/runtime/host/sandbox/process/bwrap_test.go
  go/runtime/host/sandbox/process/naked.go
  go/runtime/host/sandbox/process/naked_test.go
  go/runtime/host/sandbox/process/process.go
  go/runtime/host/sandbox/process/seccomp_linux.go
  go/runtime/host/sandbox/process/seccomp_nonlinux.go
  go/runtime/host/sandbox/sandbox.go
  go/runtime/host/sandbox/sandbox_test.go
  go/runtime/host/sgx/sgx.go
  go/runtime/host/sgx/sgx_test.go
  go/runtime/host/tests/tester.go
  go/worker/common/committee/runtime_host.go
  go/worker/common/config.go
  go/worker/common/host/dynlib_linux.go
  go/worker/common/host/dynlib_nonlinux.go
  go/worker/common/host/interface.go
  go/worker/common/host/mock.go
  go/worker/common/host/protocol/protocol.go
  go/worker/common/host/protocol/protocol_test.go
  go/worker/common/host/sandboxed.go
  go/worker/common/host/sandboxed_test.go
  go/worker/common/runtime_host.go
  go/worker/common/worker.go
  go/worker/compute/executor/committee/node.go
  go/worker/compute/executor/committee/state.go
  go/worker/compute/executor/worker.go
  go/worker/compute/txnscheduler/committee/node.go
  go/worker/compute/txnscheduler/worker.go
  go/worker/keymanager/handler.go
  go/worker/keymanager/init.go
  go/worker/keymanager/worker.go
  runtime/src/common/version.rs
  runtime/src/dispatcher.rs
  runtime/src/protocol.rs
  runtime/src/types.rs
  tests/fixture-data/net-runner/default.json
Labels: c:breaking-cfg

#2877 Document metrics
  .changelog/2602.breaking.md
  .changelog/2602.doc.md
  Makefile
  docs/Makefile
  docs/index.md
  docs/oasis-node/metrics.md
  docs/oasis-node/metrics.md.tpl
  go/.gitignore
  go/Makefile
  go/common/cbor/codec.go
  go/common/grpc/grpc.go
  go/consensus/tendermint/abci/mux.go
  go/extra/extract-metrics/main.go
  go/extra/stats/.gitignore
  go/oasis-node/cmd/common/metrics/cpu.go
  go/oasis-node/cmd/common/metrics/disk.go
  go/oasis-node/cmd/common/metrics/mem.go
  go/oasis-node/cmd/common/metrics/metrics.go
  go/oasis-node/cmd/common/metrics/net.go
  go/roothash/metrics.go
  go/storage/metrics.go
  go/worker/common/committee/node.go
  go/worker/compute/executor/committee/node.go
  go/worker/compute/merge/committee/node.go
  go/worker/compute/txnscheduler/committee/node.go
Labels: c:docs

#2893 runtime: Do SGX enclave signing ourself
  .changelog/1707.feature.md
  go/common/sgx/common.go
  go/common/sgx/common_test.go
  go/common/sgx/fortanix_dummy.go
  go/common/sgx/ias/avr.go
  go/common/sgx/ias/quote.go
  go/common/sgx/sigstruct/debug_builder.go
  go/common/sgx/sigstruct/sigstruct.go
  go/common/sgx/sigstruct/sigstruct_test.go
  go/common/sgx/testdata/dummy.pub.pem
  go/common/sgx/testdata/sig1.key.pem
  go/common/sgx/testdata/sig1.sigstruct.bin
  go/oasis-net-runner/fixtures/default.go
  go/oasis-node/cmd/debug/byzantine/steps.go
  go/oasis-test-runner/oasis/fixture.go
  go/oasis-test-runner/scenario/e2e/gas_fees_staking.go
  go/oasis-test-runner/scenario/e2e/runtime.go
  go/oasis-test-runner/scenario/e2e/upgrade.go
  go/oasis-test-runner/scenario/e2e/upgrade_cancel.go
  go/runtime/host/sandbox/sandbox.go
  go/runtime/host/sgx/sgx.go
  go/worker/common/config.go
  runtime-loader/bin/main.rs
  runtime-loader/src/elf.rs
  runtime-loader/src/lib.rs
  runtime-loader/src/sgxs.rs
Labels: c:common

#2910 go/consensus/tendermint: Clean up indices in SetNode
  .changelog/2910.breaking.md
  go/consensus/tendermint/apps/registry/state/state.go
  go/consensus/tendermint/apps/registry/state/state_test.go
  go/consensus/tendermint/apps/registry/transactions.go
  go/consensus/tendermint/apps/staking/slashing_test.go
Labels: c:breaking, c:bug, c:consensus-tendermint, c:registry

#2923 metrics: Remove #L line number from file URL
  .changelog/2923.doc.md
  docs/oasis-node/metrics.md
  go/extra/extract-metrics/main.go
Labels: c: instrumentation, c:docs

#2914 go/registry: Avoid storing full TLS certificates
  .changelog/2556.breaking.md
  .changelog/2556.doc.md
  docs/authenticated-grpc.md
  docs/consensus/registry.md
  docs/index.md
  docs/oasis-node/rpc.md
  go/common/accessctl/accessctl.go
  go/common/crypto/tls/verify.go
  go/common/crypto/tls/verify_test.go
  go/common/entity/entity.go
  go/common/grpc/credentials.go
  go/common/grpc/grpc.go
  go/common/identity/identity.go
  go/common/identity/identity_test.go
  go/common/node/address.go
  go/common/node/address_test.go
  go/common/node/node.go
  go/consensus/tendermint/apps/registry/state/state.go
  go/consensus/tendermint/apps/registry/state/state_test.go
  go/consensus/tendermint/apps/scheduler/query.go
  go/genesis/genesis_test.go
  go/oasis-node/cmd/debug/byzantine/registry.go
  go/oasis-node/cmd/debug/byzantine/storage.go
  go/oasis-node/cmd/debug/txsource/workload/registration.go
  go/oasis-node/cmd/registry/entity/entity.go
  go/oasis-node/cmd/registry/node/node.go
  go/oasis-remote-signer/cmd/root.go
  go/oasis-test-runner/oasis/args.go
  go/oasis-test-runner/oasis/entity.go
  go/oasis-test-runner/oasis/oasis.go
  go/oasis-test-runner/oasis/sentry.go
  go/oasis-test-runner/scenario/e2e/e2e.go
  go/oasis-test-runner/scenario/e2e/registry_cli.go
  go/oasis-test-runner/scenario/e2e/restore_previous.go
  go/oasis-test-runner/scenario/e2e/sentry.go
  go/registry/api/api.go
  go/registry/api/legacy_v0.go
  go/registry/api/sanity_check.go
  go/registry/tests/tester.go
  go/runtime/committee/client.go
  go/sentry/api/api.go
  go/sentry/api/grpc.go
  go/sentry/client/client.go
  go/sentry/sentry.go
  go/worker/common/committee/accessctl.go
  go/worker/common/config.go
  go/worker/common/configparser/configparser.go
  go/worker/keymanager/watcher.go
  go/worker/keymanager/worker.go
  go/worker/registration/worker.go
  go/worker/sentry/grpc/init.go
  go/worker/sentry/grpc/worker.go
  go/worker/sentry/worker.go
  go/worker/storage/committee/node.go
  tests/fixture-data/restore-previous/genesis-v20.6.json
Labels: c:breaking, c:breaking-cfg

#2927 go: update dependencies depending on 'websocket@v1.4.0'
  .buildkite/go/nancy_audit.sh
  .changelog/2927.internal.md
  .nancy-ignore
  go/go.mod
  go/go.sum
Labels: c:deps

#2929 go/common/keyformat: Add support for hashed key elements
  .changelog/2929.bugfix.md
  go/common/crypto/signature/signature.go
  go/common/keyformat/hashed.go
  go/common/keyformat/hashed_test.go
  go/common/keyformat/key_format.go
  go/consensus/tendermint/abci/timer.go
  go/consensus/tendermint/apps/keymanager/state/state.go
  go/consensus/tendermint/apps/registry/genesis.go
  go/consensus/tendermint/apps/registry/state/state.go
  go/consensus/tendermint/apps/roothash/state/state.go
  go/consensus/tendermint/apps/scheduler/state/state.go
Labels: c:breaking

#2951 go/oasis-node: Signer configuration fixes
  .changelog/2949.bugfix.md
  .changelog/2950.bugfix.md
  go/oasis-node/cmd/common/signer/signer.go
  go/oasis-node/cmd/node/node.go
  go/oasis-test-runner/oasis/entity.go
Labels: c:breaking-cfg
