Repository oasisprotocol/oasis-core, pull requests merged in 2020-04, with the labels that each got.

#2675 Make node TLS certificates totally ephemeral
  .changelog/2098.breaking.md
  .changelog/2098.feature.md
  go/common/accessctl/accessctl_test.go
  go/common/grpc/grpc.go
  go/common/grpc/policy/policy_test.go
  go/common/grpc/proxy/proxy.go
  go/common/grpc/proxy/proxy_test.go
  go/common/grpc/testing/ping.go
  go/common/identity/identity.go
  go/common/identity/identity_test.go
  go/common/node/node.go
  go/ias/proxy/client/client.go
  go/oasis-node/cmd/common/grpc/grpc.go
  go/oasis-node/cmd/debug/byzantine/registry.go
  go/oasis-node/cmd/debug/byzantine/steps.go
  go/oasis-node/cmd/debug/byzantine/storage.go
  go/oasis-node/cmd/debug/txsource/workload/registration.go
  go/oasis-node/cmd/ias/auth_registry.go
  go/oasis-node/cmd/identity/identity.go
  go/oasis-node/cmd/node/node.go
  go/oasis-node/cmd/registry/node/node.go
  go/oasis-node/cmd/storage/benchmark/benchmark.go
  go/oasis-remote-signer/cmd/root.go
  go/oasis-test-runner/oasis/args.go
  go/oasis-test-runner/oasis/byzantine.go
  go/oasis-test-runner/oasis/compute.go
  go/oasis-test-runner/oasis/keymanager.go
  go/oasis-test-runner/oasis/oasis.go
  go/oasis-test-runner/oasis/seed.go
  go/oasis-test-runner/oasis/sentry.go
  go/oasis-test-runner/oasis/storage.go
  go/oasis-test-runner/oasis/validator.go
  go/oasis-test-runner/scenario/e2e/registry_cli.go
  go/registry/api/api.go
  go/registry/tests/tester.go
  go/runtime/committee/client.go
  go/sentry/api/api.go
  go/sentry/api/grpc.go
  go/sentry/client/client.go
  go/sentry/sentry.go
  go/storage/mkvs/interop/cmd/protocol_server.go
  go/worker/common/committee/accessctl.go
  go/worker/common/worker.go
  go/worker/registration/worker.go
  go/worker/sentry/grpc/init.go
  go/worker/sentry/grpc/worker.go
  go/worker/sentry/worker.go
Labels: c:breaking-cfg

#2824 go/common/crypto/signature/signer/composite: Initial import
  .changelog/2684.feature.md
  go/common/crypto/signature/signer.go
  go/common/crypto/signature/signers/composite/composite_signer.go
  go/common/crypto/signature/signers/composite/composite_signer_test.go
  go/common/crypto/signature/signers/memory/memory_signer.go
  go/oasis-node/cmd/common/signer/signer.go
  go/oasis-node/cmd/common/signer/signer_test.go
Labels: c:common

#2833 go/consensus/tendermint: Bump Tendermint Core to 0.32.10
  .changelog/2833.bugfix.md
  go/go.mod
  go/go.sum
Labels: c:consensus-tendermint, c:deps, c:security

#2839 go: Bump tendermint to v0.33.3-oasis
  .changelog/2834.breaking.1.md
  .changelog/2834.breaking.2.md
  go/consensus/genesis/genesis.go
  go/consensus/tendermint/api/api.go
  go/consensus/tendermint/crypto/priv_val.go
  go/consensus/tendermint/db/badger/badger.go
  go/consensus/tendermint/db/tests/tester.go
  go/consensus/tendermint/roothash/roothash.go
  go/consensus/tendermint/seed.go
  go/consensus/tendermint/tendermint.go
  go/consensus/tendermint/tests/evidence.go
  go/extra/stats/cmd/stats.go
  go/genesis/genesis_test.go
  go/go.mod
  go/go.sum
  go/oasis-node/cmd/genesis/genesis.go
  go/oasis-node/cmd/identity/tendermint/tendermint.go
Labels: c:breaking, c:consensus-tendermint

#2845 Key manager EnclaveRPC fixes
  .changelog/2844.breaking.md
  Cargo.lock
  go/common/grpc/policy/policy.go
  go/common/grpc/proxy/proxy.go
  go/common/grpc/service.go
  go/common/grpc/testing/ping.go
  go/keymanager/api/grpc.go
  go/keymanager/client/client.go
  go/oasis-node/cmd/node/node.go
  go/runtime/client/api/grpc.go
  go/runtime/committee/client.go
  go/runtime/enclaverpc/api/api.go
  go/runtime/enclaverpc/api/grpc.go
  go/storage/api/grpc.go
  go/worker/keymanager/init.go
  go/worker/keymanager/policy.go
  go/worker/sentry/grpc/worker.go
  keymanager-api-common/src/api.rs
  keymanager-client/src/client.rs
  tests/clients/simple-keyvalue-enc/Cargo.toml
  tests/clients/simple-keyvalue-enc/src/main.rs
  tests/clients/simple-keyvalue-ops/Cargo.toml
  tests/clients/simple-keyvalue-ops/src/main.rs
  tests/clients/simple-keyvalue/Cargo.toml
  tests/clients/test-long-term/Cargo.toml
  tests/clients/test-long-term/src/main.rs
  tests/runtimes/simple-keyvalue/src/main.rs
Labels: c:breaking

#2767 go/staking/tests: Add escrow and delegations to debug genesis state
  .changelog/2767.internal.md
  go/staking/tests/debug/debug_stake.go
  go/staking/tests/tester.go
Labels: c:staking, c:testing

#2860 go/storage/mkvs/checkpoint: Refactor
  .changelog/2860.internal.1.md
  .changelog/2860.internal.2.md
  go/storage/mkvs/checkpoint/checkpoint.go
  go/storage/mkvs/checkpoint/checkpoint_test.go
  go/storage/mkvs/checkpoint/checkpointer.go
  go/storage/mkvs/checkpoint/chunk.go
  go/storage/mkvs/checkpoint/restorer.go
  go/worker/storage/committee/checkpointer.go
  go/worker/storage/committee/node.go
  go/worker/storage/worker.go
Labels: c:storage

#2867 go: Start using new protobuf module location
  .changelog/2867.internal.md
  README.md
  docker/development/Dockerfile
  go/common/sgx/aesm/aesm.go
  go/common/sgx/aesm/aesm_proto.pb.go
  go/common/sgx/aesm/aesm_proto.proto
  go/go.mod
  go/go.sum
Labels: c:deps

#2872 client/rpc: Change session identifier on reset, add unit tests
  .changelog/2872.bugfix.md
  client/src/rpc/client.rs
  client/src/rpc/mod.rs
  client/src/rpc/transport.rs
  runtime/src/rak.rs
Labels: c:runtime, c:testing
