Repository oasisprotocol/oasis-core, pull requests merged in 2020-07, with the labels that each got.

#3084 Bump Tendermint Core to 0.33.6
  .changelog/3084.bugfix.md
  go/go.mod
  go/go.sum
Labels: c:consensus-tendermint

#3085 [20.8.x] go/consensus/tendermint: Bump Tendermint Core to 0.33.6
  .changelog/3084.bugfix.md
  go/go.mod
  go/go.sum
Labels: c:backport, c:consensus-tendermint

#3072 go/oasis-node: add consensus estimate_gas
  .changelog/2723.feature.md
  go/oasis-node/cmd/common/consensus/consensus.go
  go/oasis-node/cmd/consensus/consensus.go
  go/oasis-test-runner/oasis/cli/consensus.go
  go/oasis-test-runner/scenario/e2e/stake_cli.go
Labels: c:cli, c:consensus-tendermint

#3087 Implement PrettyPrinter for various staking types and use it in stake CLI
  .changelog/3087.feature.1.md
  .changelog/3087.feature.2.md
  go/oasis-node/cmd/stake/account.go
  go/oasis-test-runner/scenario/e2e/stake_cli.go
  go/staking/api/api.go
  go/staking/api/commission.go
Labels: c:cli, c:staking

#3061 Renaming existing staking token to base unit
  .changelog/3061.breaking.md
  .changelog/3061.feature.1.md
  .changelog/3061.feature.2.md
  docs/consensus/staking.md
  docs/consensus/transactions.md
  go/consensus/tendermint/apps/scheduler/genesis.go
  go/consensus/tendermint/apps/scheduler/scheduler.go
  go/consensus/tendermint/apps/staking/fees.go
  go/consensus/tendermint/apps/staking/staking.go
  go/consensus/tendermint/apps/staking/state/gas.go
  go/consensus/tendermint/apps/staking/state/state.go
  go/consensus/tendermint/apps/staking/state/state_test.go
  go/consensus/tendermint/apps/staking/transactions.go
  go/consensus/tendermint/apps/staking/transactions_test.go
  go/consensus/tendermint/staking/staking.go
  go/consensus/tendermint/tendermint.go
  go/genesis/genesis_test.go
  go/oasis-node/cmd/common/consensus/consensus.go
  go/oasis-node/cmd/debug/consim/xfer_workload.go
  go/oasis-node/cmd/debug/dumpdb/dumpdb.go
  go/oasis-node/cmd/debug/txsource/workload/delegation.go
  go/oasis-node/cmd/debug/txsource/workload/oversized.go
  go/oasis-node/cmd/debug/txsource/workload/parallel.go
  go/oasis-node/cmd/debug/txsource/workload/transfer.go
  go/oasis-node/cmd/debug/txsource/workload/workload.go
  go/oasis-node/cmd/genesis/genesis.go
  go/oasis-node/cmd/stake/account.go
  go/oasis-node/cmd/stake/stake.go
  go/oasis-test-runner/oasis/oasis.go
  go/oasis-test-runner/scenario/e2e/debond.go
  go/oasis-test-runner/scenario/e2e/gas_fees_staking.go
  go/oasis-test-runner/scenario/e2e/runtime/gas_fees.go
  go/oasis-test-runner/scenario/e2e/runtime/runtime_dynamic.go
  go/oasis-test-runner/scenario/e2e/stake_cli.go
  go/scheduler/api/api.go
  go/staking/api/api.go
  go/staking/api/grpc.go
  go/staking/api/sanity_check.go
  go/staking/gen_vectors/main.go
  go/staking/tests/debug/debug_stake.go
  go/staking/tests/tester.go
  tests/fixture-data/consim/genesis.json
Labels: c:breaking, c:staking

#3103 go/oasis-test-runner/cmd: Limit scenario name regex matching
  .changelog/3103.internal.md
  go/oasis-test-runner/cmd/root.go
Labels: c:testing

#3107 go/oasis-test-runner/cmd: Sort scenarios for correct parallel execution
  .changelog/3104.bugfix.md
  go/oasis-test-runner/cmd/root.go
Labels: c:testing

#3108 go/oasis-test-runner: Refactor code to refer to scenario(s) consistently
  .buildkite/benchmarks.pipeline.yml
  .buildkite/code.pipeline.yml
  .buildkite/scripts/daily_benchmark_analysis.sh
  .buildkite/scripts/daily_txsource.sh
  .buildkite/scripts/sgx_ias_tests.sh
  .changelog/3108.breaking.1.md
  .changelog/3108.breaking.2.md
  .changelog/3108.breaking.3.md
  .changelog/3108.internal.md
  docs/oasis-node/metrics.md
  go/oasis-node/cmd/common/metrics/metrics.go
  go/oasis-test-runner/README.md
  go/oasis-test-runner/cmd/cmp/cmp.go
  go/oasis-test-runner/cmd/common/common.go
  go/oasis-test-runner/cmd/root.go
  go/oasis-test-runner/cmd/root_test.go
  go/oasis-test-runner/env/env.go
  go/oasis-test-runner/oasis/args.go
  go/oasis-test-runner/scenario/e2e/e2e.go
  go/oasis-test-runner/scenario/e2e/runtime/runtime.go
  go/oasis-test-runner/scenario/remotesigner/remotesigner.go
Labels: c:testing

#3113 go/oasis-node/cmd: Remove retry functionality from staking CLI commands
  .changelog/3113.breaking.md
  go/oasis-node/cmd/common/flags/flags.go
  go/oasis-node/cmd/stake/account.go
  go/oasis-node/cmd/stake/stake.go
Labels: c:breaking, c:cli, c:staking

#3114 docs/setup/prerequisites: Add pkg-config
  .changelog/3114.trivial.md
  docs/setup/prerequisites.md
Labels: c:docs

#3111 Enable pretty-printers to print stake amounts in tokens
  .changelog/3037.feature.1.md
  .changelog/3037.feature.2.md
  .changelog/3111.breaking.md
  go/common/crypto/signature/signature.go
  go/common/entity/entity.go
  go/common/node/node.go
  go/common/prettyprint/prettyprint.go
  go/consensus/api/transaction/transaction.go
  go/genesis/tests/helpers.go
  go/oasis-node/cmd/consensus/consensus.go
  go/oasis-node/cmd/stake/account.go
  go/oasis-node/cmd/stake/stake.go
  go/oasis-test-runner/oasis/oasis.go
  go/oasis-test-runner/scenario/e2e/stake_cli.go
  go/registry/api/runtime.go
  go/staking/api/api.go
  go/staking/api/commission.go
  go/staking/api/prettyprint.go
  go/staking/api/prettyprint_test.go
Labels: c:cli, c:staking

#3117 go/oasis-node/cmd/common: ExportEntity should use the entity ctor
  .changelog/3117.bugfix.md
  go/oasis-node/cmd/common/common.go
Labels: c:bug, c:cli

#3118 docs: update runtime execution diagram
  .changelog/3118.trivial.md
  docs/images/oasis-core-runtime-execution.svg
Labels: c:docs

#3102 go/consensus/tendermint: Use P2P key for Tendermint P2P
  .changelog/3101.breaking.md
  go/consensus/tendermint/seed.go
  go/consensus/tendermint/tendermint.go
  go/oasis-node/cmd/debug/txsource/workload/registration.go
  go/oasis-node/cmd/identity/tendermint/tendermint.go
  go/oasis-node/cmd/registry/node/node.go
  go/oasis-test-runner/oasis/byzantine.go
  go/oasis-test-runner/oasis/compute.go
  go/oasis-test-runner/oasis/keymanager.go
  go/oasis-test-runner/oasis/oasis.go
  go/oasis-test-runner/oasis/seed.go
  go/oasis-test-runner/oasis/sentry.go
  go/oasis-test-runner/oasis/storage.go
  go/oasis-test-runner/oasis/validator.go
Labels: c:breaking

#3129 Unify pretty printing of quantity.Quantity fractions
  .changelog/3129.feature.md
  go/common/prettyprint/quantity.go
  go/common/prettyprint/quantity_test.go
  go/staking/api/commission.go
  go/staking/api/prettyprint.go
  go/staking/api/prettyprint_test.go
Labels: c:staking

#3130 Add GOVERNANCE.md
  .changelog/3130.doc.md
  GOVERNANCE.md
Labels: c:docs

#3137 Display (unsigned) transaction's pretty print on the terminal before signing
  .changelog/3134.feature.1.md
  .changelog/3134.feature.2.md
  .changelog/3137.breaking.md
  .changelog/3137.feature.1.md
  .changelog/3137.feature.2.md
  go/oasis-node/cmd/common/common.go
  go/oasis-node/cmd/common/consensus/consensus.go
  go/oasis-node/cmd/common/flags/flags.go
  go/oasis-node/cmd/keymanager/keymanager.go
  go/oasis-node/cmd/registry/entity/entity.go
  go/oasis-node/cmd/registry/runtime/runtime.go
  go/oasis-node/cmd/stake/account.go
  go/oasis-test-runner/oasis/cli/keymanager.go
  go/oasis-test-runner/oasis/cli/registry.go
  go/oasis-test-runner/scenario/e2e/registry_cli.go
  go/oasis-test-runner/scenario/e2e/stake_cli.go
Labels: c:cli, c:staking

#3149 go/oasis-node/cmd/common: Smaller signer-related improvements
  .changelog/3149.feature.md
  go/oasis-node/cmd/common/consensus/consensus.go
  go/oasis-node/cmd/common/signer/signer.go
Labels: c:cli

#3138 Update CONTRIBUTING.md
  .changelog/3138.trivial.md
  CONTRIBUTING.md
Labels: c:docs

#3136 ADR 0001: Multiple Roots Under the Tendermint Application Hash
  .changelog/3136.doc.md
  docs/adr/0001-tm-multi-root-apphash.md
Labels: c:docs/adr

#3147 docs: Add cryptography section
  .changelog/3147.doc.md
  .markdownlint.yml
  docs/consensus/transactions.md
  docs/crypto.md
Labels: c:docs

#3157 go/oasis-node/cmd: Show Genesis document's hash when displaying transactions
  .changelog/2871.feature.md
  .changelog/3157.feature.md
  go/common/prettyprint/context.go
  go/consensus/api/transaction/transaction.go
  go/oasis-node/cmd/consensus/consensus.go
  go/oasis-node/cmd/stake/account.go
Labels: c:cli, c:consensus-tendermint
