Repository oasisprotocol/oasis-core, pull requests merged in 2021-02, with the labels that each got.

#3672 go/consensus/tendermint/abci/mux: Reject early EstimateGas calls
  .changelog/3669.internal.md
  go/consensus/tendermint/abci/mux.go
Labels: c:bug

#3653 Client node support for hosting runtimes
  .buildkite/scripts/test_e2e.sh
  .changelog/3653.cfg.md
  .changelog/3653.feature.md
  .changelog/3653.internal.2.md
  .changelog/3653.internal.md
  go/oasis-net-runner/fixtures/default.go
  go/oasis-node/cmd/node/node.go
  go/oasis-node/node_test.go
  go/oasis-test-runner/oasis/args.go
  go/oasis-test-runner/oasis/client.go
  go/oasis-test-runner/oasis/compute.go
  go/oasis-test-runner/oasis/fixture.go
  go/oasis-test-runner/oasis/keymanager.go
  go/oasis-test-runner/oasis/runtime.go
  go/oasis-test-runner/scenario/e2e/runtime/keymanager_upgrade.go
  go/oasis-test-runner/scenario/e2e/runtime/multiple_runtimes.go
  go/oasis-test-runner/scenario/e2e/runtime/runtime.go
  go/oasis-test-runner/scenario/e2e/runtime/runtime_dynamic.go
  go/oasis-test-runner/scenario/e2e/runtime/runtime_upgrade.go
  go/runtime/client/api/api.go
  go/runtime/client/api/grpc.go
  go/runtime/client/client.go
  go/runtime/client/host.go
  go/runtime/host/helpers.go
  go/runtime/host/mock/mock.go
  go/runtime/registry/config.go
  go/runtime/registry/host.go
  go/runtime/registry/registry.go
  go/worker/common/config.go
  go/worker/common/worker.go
  go/worker/compute/executor/committee/node.go
  go/worker/keymanager/init.go
  go/worker/keymanager/worker.go
Labels: c:breaking/cfg, c:runtime/compute

#3675 beacon: Transaction handling fixes
  .changelog/3675.internal.md
  go/beacon/api/pvss.go
  go/consensus/api/transaction/transaction.go
  go/consensus/api/transaction/transaction_test.go
  go/consensus/tendermint/abci/mux.go
  go/consensus/tendermint/api/api.go
  go/consensus/tendermint/apps/beacon/backend_pvss.go
  go/consensus/tendermint/apps/registry/state/state.go
  go/oasis-node/cmd/debug/txsource/workload/queries.go
  go/oasis-node/cmd/genesis/genesis.go
  go/oasis-test-runner/scenario/e2e/runtime/runtime.go
Labels: c:beacon

#3676 go/beacon: Backport the beacon key generation/registration
  .changelog/3674.feature.md
  go/common/crypto/pvss/pvss.go
  go/common/crypto/pvss/pvss_test.go
  go/common/crypto/pvss/s11n.go
  go/common/identity/identity.go
  go/common/node/node.go
  go/go.mod
  go/go.sum
  go/oasis-node/cmd/registry/node/node.go
  go/oasis-test-runner/scenario/e2e/registry_cli.go
  go/registry/tests/tester.go
  go/worker/registration/worker.go
Labels: c:backport, c:beacon

#3709 Improvement to genesis file handling
  .changelog/3709.breaking.md
  .changelog/3709.feature.1.md
  .changelog/3709.feature.2.md
  .changelog/3709.feature.md
  docs/consensus/genesis.md
  go/common/diff/diff.go
  go/common/diff/diff_test.go
  go/genesis/api/api.go
  go/go.mod
  go/go.sum
  go/oasis-node/cmd/debug/fixgenesis/fixgenesis.go
  go/oasis-node/cmd/genesis/genesis.go
  go/oasis-test-runner/scenario/e2e/genesis_file.go
Labels: c:cli, c:common

#3714 go/oasis-node/cmd/node: Fix error handling when writing in dumpGenesis()
  .changelog/3714.bugfix.md
  go/oasis-node/cmd/node/node.go
Labels: c:bug, c:cli

#3722 Make: Unify with Oasis Core Ledger and Rosetta Gateway repos
  .changelog/3722.internal.1.md
  .changelog/3722.internal.md
  .github/workflows/ci-lint.yml
  Makefile
  common.mk
  go/Makefile
Labels: c:ops

#3720 go: Improve error message when delegating less than MinDelegationAmount
  .changelog/3308.breaking.md
  go/consensus/tendermint/apps/staking/transactions.go
  go/consensus/tendermint/apps/staking/transactions_test.go
  go/staking/api/api.go
Labels: c:breaking/consensus, c:staking

#3726 runtime: Provide sets of good and bad compute nodes in round results
  .changelog/3726.breaking.1.md
  .changelog/3726.feature.md
  go/consensus/tendermint/apps/roothash/api.go
  go/consensus/tendermint/apps/roothash/roothash.go
  go/consensus/tendermint/roothash/roothash.go
  go/roothash/api/api.go
  go/roothash/api/history.go
  go/roothash/api/results.go
  go/roothash/api/results_test.go
  go/roothash/tests/tester.go
  go/runtime/history/db.go
  go/runtime/history/history.go
  go/runtime/history/history_test.go
  go/runtime/history/prune.go
  go/runtime/host/protocol/types.go
  go/worker/compute/executor/committee/node.go
  runtime/src/consensus/roothash.rs
  runtime/src/dispatcher.rs
  runtime/src/transaction/context.rs
  runtime/src/transaction/dispatcher.rs
  runtime/src/types.rs
  tests/runtimes/simple-keyvalue/src/main.rs
Labels: c:breaking/consensus, c:breaking/runtime, c:roothash, c:runtime/compute

#3736 runtime: Provide sets of good/bad entities instead
  .changelog/3736.trivial.md
  go/consensus/tendermint/roothash/roothash.go
  go/roothash/api/results.go
  go/roothash/api/results_test.go
  go/worker/compute/executor/committee/node.go
  go/worker/compute/executor/committee/prune.go
  runtime/src/consensus/roothash.rs
Labels: c:runtime
