Repository oasisprotocol/oasis-core, pull requests merged in 2021-05, with the labels that each got.

#3910 [BACKPORT/21.1.x] Runtime registration fixes, rename subcommand
  .changelog/3903.breaking.md
  .changelog/3908.feature.md
  docs/setup/deploying-a-runtime.md
  go/oasis-node/cmd/registry/runtime/runtime.go
  go/oasis-node/cmd/storage/storage.go
  go/oasis-test-runner/oasis/cli/registry.go
  go/oasis-test-runner/oasis/runtime.go
  go/oasis-test-runner/scenario/e2e/registry_cli.go
  go/oasis-test-runner/scenario/e2e/runtime/history_reindex.go
  go/oasis-test-runner/scenario/e2e/runtime/keymanager_upgrade.go
  go/oasis-test-runner/scenario/e2e/runtime/runtime_dynamic.go
  go/oasis-test-runner/scenario/e2e/runtime/runtime_upgrade.go
  go/storage/mkvs/db/badger/rename.go
  go/storage/mkvs/db/badger/rename_test.go
Labels: c:backport

#3944 {Add,Reclaim}EscrowEvent: include share amounts
  .changelog/3939.breaking.md
  .changelog/3944.breaking.md
  docs/consensus/staking.md
  go/consensus/tendermint/apps/staking/staking.go
  go/consensus/tendermint/apps/staking/state/state.go
  go/consensus/tendermint/apps/staking/state/state_test.go
  go/consensus/tendermint/apps/staking/transactions.go
  go/staking/api/api.go
  go/staking/tests/tester.go
Labels: c:breaking

#3918 ADR 0008: Standard Account Key Generation implementation
  .changelog/3918.feature.md
  .changelog/3918.internal.md
  docs/consensus/staking.md
  docs/crypto.md
  go/Makefile
  go/common/crypto/sakg/bip32.go
  go/common/crypto/sakg/bip32_test.go
  go/common/crypto/sakg/sakg.go
  go/common/crypto/sakg/sakg_test.go
  go/go.mod
  go/go.sum
  go/staking/gen_account_vectors/main.go
Labels: c:apps, c:keymgmt, c:staking

#3960 go/staking/gen_account_vectors: Add Trust Wallet Core's test mnemonic
  .changelog/3960.internal.md
  go/staking/gen_account_vectors/main.go
Labels: c:apps, c:staking, c:testing
