Repository oasisprotocol/oasis-core, pull requests merged in 2021-09, with the labels that each got.

#4243 go/common/node: Add custom text (un)marshaler for RolesMask type
  .changelog/4243.feature.md
  go/common/node/node.go
  go/common/node/node_test.go
Labels: c:common, c:cli

#4244 go/runtime: Add key manager EnclaveRPC support to client runtime hosts
  .changelog/4244.breaking.md
  .changelog/4244.bugfix.md
  client/src/enclave_rpc/client.rs
  go/keymanager/client/api/api.go
  go/oasis-node/cmd/node/node.go
  go/runtime/client/api/api.go
  go/runtime/client/api/grpc.go
  go/runtime/client/client.go
  go/runtime/client/host.go
  go/runtime/registry/host.go
  go/worker/common/committee/runtime_host.go
  go/worker/keymanager/worker.go
Labels: c:client, c:bug

#4261 docs/oasis-node: Remove EnclaveRPC service
  .changelog/4261.trivial.md
  docs/oasis-node/rpc.md
Labels: c:docs

#4183 go/roothash/api/block: Use custom TimeStamp type for block's header
  .changelog/4183.feature.md
  go/control/api/api.go
  go/roothash/api/api.go
  go/roothash/api/block/block.go
  go/roothash/api/block/header.go
  go/roothash/api/block/header_test.go
  go/roothash/tests/tester.go
Labels: c:roothash

#4265 go/fixgenesis: remove the not anymore relevant migration
  .changelog/4265.internal.md
  go/oasis-node/cmd/debug/fixgenesis/fixgenesis.go
Labels: s:ready-ci

#4267 go/upgrade migration updates
  .changelog/4064.feature.md
  .changelog/4180.feature.md
  .changelog/4267.bugfix.md
  go/oasis-test-runner/scenario/e2e/e2e.go
  go/oasis-test-runner/scenario/e2e/upgrade.go
  go/upgrade/api/api.go
  go/upgrade/api/api_test.go
  go/upgrade/migrations/consensus_max_allowances.go
  go/upgrade/migrations/consensus_parameters.go
Labels: s:ready-ci

#4266 go/oasis-node/cmd: Use pretty-printed variant when outputting JSON
  .changelog/4266.feature.1.md
  .changelog/4266.feature.2.md
  .changelog/4266.internal.md
  go/common/entity/entity.go
  go/oasis-node/cmd/common/consensus/consensus.go
  go/oasis-node/cmd/common/json.go
  go/oasis-node/cmd/control/control.go
  go/oasis-node/cmd/debug/beacon/beacon.go
  go/oasis-node/cmd/debug/dumpdb/dumpdb.go
  go/oasis-node/cmd/governance/governance.go
  go/oasis-node/cmd/keymanager/keymanager.go
  go/oasis-node/cmd/registry/entity/entity.go
  go/oasis-node/cmd/registry/node/node.go
  go/oasis-node/cmd/registry/runtime/runtime.go
  go/oasis-node/cmd/stake/stake.go
  go/oasis-test-runner/scenario/e2e/registry_cli.go
Labels: c:cli

#4278 bump oasis-cbor to 0.2.0
  .changelog/4278.internal.1.md
  .changelog/4278.internal.2.md
  .changelog/4278.internal.3.md
  Cargo.lock
  client/Cargo.toml
  keymanager-api-common/Cargo.toml
  keymanager-client/Cargo.toml
  keymanager-lib/Cargo.toml
  runtime/Cargo.toml
  tests/runtimes/simple-keyvalue/Cargo.toml
Labels: s:ready-ci

#4282 rust: bump zeroize_derive to 1.2.0
  .changelog/4282.internal.md
  Cargo.lock
Labels: c:security, rust

#4281 go/consensus/api: Change Block's Hash field type to common Hash type
  .changelog/4281.breaking.md
  .changelog/4281.doc.md
  .changelog/4281.feature.2.md
  .changelog/4281.feature.md
  docs/oasis-node/cli.md
  go/common/crypto/hash/hash.go
  go/consensus/api/api.go
  go/consensus/tendermint/api/api.go
  go/oasis-test-runner/scenario/e2e/consensus_state_sync.go
  go/oasis-test-runner/scenario/e2e/runtime/storage_sync.go
  go/oasis-test-runner/scenario/e2e/runtime/trust_root.go
Labels: c:consensus/tendermint
