Repository oasisprotocol/oasis-core, pull requests merged in 2021-03, with the labels that each got.

#3744 runtime/common/quantity: Add Mul/Div implementations
  .changelog/3744.internal.md
  Makefile
  common.mk
  runtime/src/common/quantity.rs
Labels: c:runtime

#3737 Remove support for entity-signed node registrations
  .changelog/3661.breaking.md
  go/common/entity/entity.go
  go/consensus/tendermint/apps/registry/transactions.go
  go/consensus/tendermint/tests/genesis/genesis.go
  go/genesis/genesis_test.go
  go/oasis-node/cmd/genesis/genesis.go
  go/oasis-node/cmd/registry/entity/entity.go
  go/oasis-node/cmd/registry/node/node.go
  go/oasis-test-runner/oasis/entity.go
  go/oasis-test-runner/oasis/validator.go
  go/registry/api/api.go
  go/registry/api/sanity_check.go
  go/registry/tests/tester.go
  go/worker/registration/worker.go
Labels: c:breaking/cfg, c:breaking/consensus, c:registry

#3755 go/consensus: Move upgrade logic to governance, gracefully handle halt
  .changelog/3755.bugfix.md
  go/common/grpc/grpc.go
  go/consensus/api/api.go
  go/consensus/tendermint/abci/mux.go
  go/consensus/tendermint/abci/state.go
  go/consensus/tendermint/api/state.go
  go/consensus/tendermint/apps/governance/governance.go
  go/consensus/tendermint/beacon/beacon.go
  go/consensus/tendermint/full/full.go
  go/consensus/tendermint/seed/seed.go
  go/oasis-node/cmd/common/background/service_manager.go
  go/oasis-node/cmd/node/node.go
  go/oasis-test-runner/log/log.go
  go/oasis-test-runner/oasis/log.go
  go/oasis-test-runner/scenario/e2e/runtime/governance_upgrade.go
  go/oasis-test-runner/scenario/e2e/upgrade.go
  go/upgrade/api/api.go
  go/upgrade/upgrade.go
Labels: c:consensus-tendermint

#3767 go/common/version: Add String() method to ProtocolVersions type
  .changelog/3767.trivial.md
  go/common/version/version.go
  go/upgrade/api/api.go
Labels: c:common

#3778 runtime: Provide consensus layer chain domain separation context
  .changelog/3778.feature.2.md
  .changelog/3778.feature.md
  go/consensus/api/api.go
  go/consensus/api/grpc.go
  go/consensus/tendermint/full/full.go
  go/consensus/tendermint/seed/seed.go
  go/consensus/tests/tester.go
  go/runtime/host/protocol/connection.go
  go/runtime/host/protocol/types.go
  go/runtime/registry/config.go
  runtime/src/protocol.rs
  runtime/src/types.rs
Labels: c:runtime

#3774 go/staking/api: Add new delegation querying methods
  .changelog/3774.breaking.1.md
  .changelog/3774.breaking.2.md
  .changelog/3774.feature.1.md
  .changelog/3774.feature.2.md
  .changelog/3774.feature.3.md
  .changelog/3774.feature.md
  .changelog/3774.internal.2.md
  .changelog/3774.internal.md
  go/consensus/tendermint/apps/staking/query.go
  go/consensus/tendermint/apps/staking/state/state.go
  go/consensus/tendermint/staking/staking.go
  go/consensus/tendermint/tests/genesis/genesis.go
  go/genesis/genesis_test.go
  go/governance/tests/tester.go
  go/oasis-node/cmd/debug/txsource/workload/delegation.go
  go/oasis-test-runner/scenario/e2e/test_accounts.go
  go/roothash/tests/tester.go
  go/staking/api/api.go
  go/staking/api/grpc.go
  go/staking/tests/accounts.go
  go/staking/tests/debug/debug_stake.go
  go/staking/tests/state.go
  go/staking/tests/tester.go
Labels: c:breaking/consensus, c:staking, c:testing

#3780 go/staking/api: Enhance pretty printers for allowance and withdraw
  .changelog/3780.feature.md
  go/common/prettyprint/context.go
  go/staking/api/api.go
  go/staking/api/token/prettyprint.go
  go/staking/api/token/prettyprint_test.go
Labels: c:staking

#3782 go/consensus: Store runtime state roots in a single key
  .changelog/3782.breaking.md
  go/consensus/tendermint/apps/roothash/state/state.go
  go/consensus/tendermint/apps/roothash/state/state_test.go
Labels: c:breaking/consensus, c:roothash

#3786 go/consensus/tendermint: Bump Tendermint Core to v0.34.8-oasis1
  .changelog/3625.breaking.md
  .changelog/3786.breaking.md
  go/go.mod
  go/go.sum
Labels: c:consensus/tendermint

#3725 Enhance oasis-node stake account info CLI command's output
  .changelog/3557.breaking.md
  .changelog/3725.feature.1.md
  .changelog/3725.feature.2.md
  .changelog/3725.feature.3..md
  go/common/prettyprint/quantity.go
  go/common/prettyprint/quantity_test.go
  go/oasis-node/cmd/stake/account.go
  go/oasis-node/cmd/stake/allowances.go
  go/oasis-node/cmd/stake/common.go
  go/oasis-node/cmd/stake/delegations.go
  go/oasis-node/cmd/stake/stake.go
  go/oasis-test-runner/scenario/e2e/stake_cli.go
  go/staking/api/api.go
  go/staking/api/token/prettyprint.go
  go/staking/api/token/prettyprint_test.go
Labels: c:cli, c:staking

#3787 runtime: Bump honggfuzz to 0.5.54, arbitrary to 1.0.0
  .changelog/3787.trivial.md
  Cargo.lock
  runtime/Cargo.toml
Labels: c:deps, rust

#3791 go/roothash/reindexBlocks: return latest known round if no new rounds are reindexed
  .changelog/3791.bugfix.md
  go/consensus/tendermint/roothash/roothash.go
  go/oasis-test-runner/scenario/e2e/runtime/runtime_dynamic.go
Labels: c:roothash

#3790 go/roothash: Finish commitment processing early when possible
  .changelog/3790.breaking.md
  go/roothash/api/commitment/pool.go
  go/roothash/api/commitment/pool_test.go
Labels: c:breaking/consensus, c:roothash

#3792 go/oasis-node/cmd: Improve transaction preview when generating txns
  .changelog/3792.feature.1.md
  .changelog/3792.feature.2.md
  go/oasis-node/cmd/common/context/context.go
  go/oasis-node/cmd/governance/governance.go
  go/oasis-node/cmd/keymanager/keymanager.go
  go/oasis-node/cmd/registry/entity/entity.go
  go/oasis-node/cmd/registry/runtime/runtime.go
  go/oasis-node/cmd/stake/account.go
Labels: c:cli

#3797 ci: Don't trigger full Buildkite pipeline for .punch_version.py change
  .buildkite/pipeline.sh
  .changelog/3797.trivial.md
Labels: c:testing

#3808 [BACKPORT/21.0.x] oasis-net-runner: Fix runtime configuration in default fixture
  .changelog/3794.feature.md
  .changelog/3805.bugfix.md
  go/oasis-net-runner/fixtures/default.go
Labels: c:backport

#3813 [20.12.x] go/upgrade: fix node restarting before reaching the upgrade epoch
  .changelog/3813.bugfix
  Cargo.lock
  go/oasis-test-runner/scenario/e2e/upgrade.go
  go/upgrade/upgrade.go
Labels: c:backport

#3819 go/staking: Improve pretty-print for Escrow/ReclaimEscrow transactions
  .changelog/3819.feature.md
  go/staking/api/api.go
Labels: c:staking

#3822 [BACKPORT/21.0.x] Improve pretty-print for Escrow/ReclaimEscrow transactions
  .changelog/3819.feature.md
  go/staking/api/api.go
Labels: c:backport

#3824 docs: Update governance.CastVote method's body
  .changelog/3824.trivial.md
  docs/adr/0006-consensus-governance.md
  docs/consensus/governance.md
Labels: c:docs

#3826 Storage fixes from master
  .changelog/3820.bugfix.md
  .changelog/3820.internal.1.md
  .changelog/3820.internal.2.md
  go/oasis-node/cmd/debug/byzantine/byzantine.go
  go/oasis-node/cmd/debug/byzantine/storage_node.go
  go/oasis-node/cmd/node/node.go
  go/oasis-test-runner/scenario/e2e/runtime/byzantine.go
  go/oasis-test-runner/scenario/e2e/runtime/runtime.go
  go/storage/api/context.go
  go/storage/client/client.go
  go/storage/mkvs/db/badger/badger.go
  go/storage/mkvs/db/badger/badger_test.go
  go/worker/common/committee/node.go
  go/worker/common/worker.go
  go/worker/storage/committee/node.go
  go/worker/storage/committee/utils.go
Labels: c:backport
