Repository oasisprotocol/oasis-core, pull requests merged in 2022-09, with the labels that each got.

#4910 keymanager: Validate latest trust root height in key manager requests
  .changelog/4910.feature.md
  keymanager-api-common/src/api.rs
  keymanager-client/src/client.rs
  keymanager-lib/src/kdf.rs
  keymanager-lib/src/methods.rs
  runtime/src/dispatcher.rs
  tests/runtimes/simple-keyvalue/src/main.rs
Labels: rust

#4916 registry: Add ProveFreshness consensus layer transaction
  .changelog/4916.feature.md
  go/common/node/tee.go
  go/consensus/tendermint/apps/registry/registry.go
  go/consensus/tendermint/apps/registry/transactions.go
  go/consensus/tendermint/apps/registry/transactions_test.go
  go/consensus/tendermint/tests/genesis/genesis.go
  go/oasis-node/cmd/genesis/genesis.go
  go/oasis-test-runner/scenario/e2e/upgrade.go
  go/registry/api/api.go
  go/registry/tests/tester.go
  go/upgrade/migrations/consensus_tee_pcs.go
Labels: c:registry, golang

#4920 docs: Additions to development setup
  .changelog/4920.doc.md
  CONTRIBUTING.md
  README.md
  docs/README.md
  docs/SECURITY.md
  docs/authenticated-grpc.md
  docs/consensus/README.md
  docs/consensus/genesis.md
  docs/consensus/services/registry.md
  docs/consensus/services/scheduler.md
  docs/consensus/transactions.md
  docs/development-setup/deploying-a-runtime.md
  docs/development-setup/oasis-net-runner.md
  docs/oasis-node/cli.md
  docs/oasis-node/metrics.md
  docs/oasis-node/metrics.md.tpl
  docs/oasis-node/rpc.md
  docs/runtime/README.md
Labels: c:docs

#4928 Bump tokio to 1.20.x
  .changelog/4928.internal.md
  Cargo.lock
  client/Cargo.toml
  keymanager-lib/Cargo.toml
  runtime/Cargo.toml
  tests/runtimes/simple-keyvalue/Cargo.toml
Labels: c:deps

#4935 Update documentation about prerequisites for building
  .changelog/4935.doc.md
  docs/development-setup/prerequisites.md
Labels: c:docs

#4934 runtime/consensus/tendermint/verifier: Refactor verifier
  .changelog/4934.internal.md
  runtime/src/consensus/tendermint/mod.rs
  runtime/src/consensus/tendermint/verifier/cache.rs
  runtime/src/consensus/tendermint/verifier/clock.rs
  runtime/src/consensus/tendermint/verifier/handle.rs
  runtime/src/consensus/tendermint/verifier/io.rs
  runtime/src/consensus/tendermint/verifier/mod.rs
  runtime/src/consensus/tendermint/verifier/noop.rs
  runtime/src/consensus/tendermint/verifier/store/lru.rs
  runtime/src/consensus/tendermint/verifier/store/mod.rs
  runtime/src/consensus/tendermint/verifier/store/state.rs
  runtime/src/consensus/tendermint/verifier/types.rs
  runtime/src/consensus/tendermint/verifier/voting.rs
  runtime/src/protocol.rs
Labels: rust

#4937 runtime: Bump and cleanup dependencies
  .changelog/4937.trivial.md
  Cargo.lock
  docs/development-setup/prerequisites.md
  keymanager/Cargo.toml
  keymanager/src/client/remote.rs
  keymanager/src/crypto/kdf.rs
  runtime-loader/Cargo.toml
  runtime/Cargo.toml
  runtime/src/cache.rs
  runtime/src/common/sgx/ias.rs
  runtime/src/consensus/tendermint/verifier/cache.rs
  runtime/src/consensus/tendermint/verifier/store/lru.rs
Labels: c:runtime, c:deps, rust

#4951 ci: Fix Go version used in workflows
  .changelog/4951.trivial.md
  .github/workflows/ci-lint.yml
  .github/workflows/ci-reproducibility.yml
  .github/workflows/release-dev.yml
  .github/workflows/release.yml
Labels: c:bug

#4956 runtime: Add current sender sequence number to CheckTxMeta
  .changelog/4956.internal.md
  go/runtime/host/protocol/types.go
  go/runtime/txpool/main_queue.go
  go/runtime/txpool/schedule_queue.go
  runtime/src/types.rs
Labels: c:runtime

#4960 go/runtime: Fix configuring the SGX-based provisioner
  .changelog/4960.bugfix.md
  go/runtime/host/sgx/sgx.go
  go/runtime/registry/config.go
Labels: c:bug
