Repository oasisprotocol/oasis-core, pull requests merged in 2022-10, with the labels that each got.

#4938 go/governance: Add change parameters proposal
  .changelog/4938.feature.md
  go/beacon/api/api.go
  go/beacon/api/sanity_check.go
  go/consensus/tendermint/apps/governance/api/api.go
  go/consensus/tendermint/apps/governance/governance.go
  go/consensus/tendermint/apps/governance/messages.go
  go/consensus/tendermint/apps/governance/messages_test.go
  go/consensus/tendermint/apps/governance/transactions.go
  go/consensus/tendermint/apps/registry/messages.go
  go/consensus/tendermint/apps/registry/messages_test.go
  go/consensus/tendermint/apps/registry/registry.go
  go/consensus/tendermint/apps/roothash/messages.go
  go/consensus/tendermint/apps/roothash/messages_test.go
  go/consensus/tendermint/apps/roothash/roothash.go
  go/consensus/tendermint/apps/scheduler/messages.go
  go/consensus/tendermint/apps/scheduler/messages_test.go
  go/consensus/tendermint/apps/scheduler/scheduler.go
  go/consensus/tendermint/apps/staking/messages.go
  go/consensus/tendermint/apps/staking/messages_test.go
  go/consensus/tendermint/apps/staking/staking.go
  go/consensus/tendermint/tests/genesis/genesis.go
  go/governance/api/api.go
  go/governance/api/sanity_check.go
  go/governance/tests/tester.go
  go/oasis-node/cmd/debug/txsource/workload/governance.go
  go/oasis-node/cmd/genesis/genesis.go
  go/oasis-test-runner/oasis/network.go
  go/registry/api/api.go
  go/registry/api/sanity_check.go
  go/roothash/api/api.go
  go/roothash/api/sanity_check.go
  go/scheduler/api/api.go
  go/scheduler/api/sanity_check.go
  go/staking/api/api.go
  go/staking/api/sanity_check.go
  go/upgrade/api/api.go
  go/upgrade/migrations/consensus_change_parameters.go
Labels: golang, c:governance

#4965 Bump multiple dependencies
  .changelog/4965.trivial.md
  Cargo.lock
  go/go.mod
  go/go.sum
  go/runtime/txpool/check_queue.go
  go/runtime/txpool/schedule_queue.go
  runtime/Cargo.toml
Labels: c:deps

#4969 runtime-loader: Remove unused ELF loader, bump clap to 4.0.10
  .changelog/4969.internal.md
  Cargo.lock
  runtime-loader/Cargo.toml
  runtime-loader/bin/main.rs
  runtime-loader/src/elf.rs
  runtime-loader/src/lib.rs
  runtime-loader/src/sgxs.rs
  tools/Cargo.toml
  tools/bin/cargo-elf2sgxs.rs
Labels: c:runtime/loader

#4798 go/consensus/tendermint: Fix liveness tracking for primary+backup
  .changelog/4798.breaking.md
  go/common/version/version.go
  go/consensus/tendermint/apps/roothash/roothash.go
  go/go.mod
  go/go.sum
  go/oasis-test-runner/scenario/e2e/runtime/byzantine.go
  runtime/src/common/version.rs
Labels: c:roothash, c:bug, c:breaking/consensus

#4756 staking: Add a burn address
  .changelog/4755.breaking.md
  go/common/crypto/signature/signature.go
  go/consensus/tendermint/apps/staking/transactions.go
  go/staking/api/address_internal.go
  go/staking/api/address_test.go
  go/staking/api/api.go
  go/staking/api/sanity_check.go
  go/staking/tests/tester.go
Labels: c:staking, c:breaking

#4996 go/worker/common/p2p: Refactor P2P package
  .changelog/4996.cfg.md
  docs/development-setup/deploying-a-runtime.md
  go/consensus/tendermint/full/full.go
  go/consensus/tendermint/seed/seed.go
  go/oasis-node/cmd/common/flags/flags.go
  go/oasis-node/cmd/debug/byzantine/byzantine.go
  go/oasis-node/cmd/debug/byzantine/executor.go
  go/oasis-node/cmd/debug/byzantine/p2p.go
  go/oasis-node/cmd/node/flags.go
  go/oasis-node/cmd/node/node.go
  go/oasis-test-runner/oasis/args.go
  go/p2p/api/api.go
  go/p2p/api/crypto.go
  go/p2p/api/types.go
  go/p2p/dispatch.go
  go/p2p/error/error.go
  go/p2p/error/error_test.go
  go/p2p/flags.go
  go/p2p/nop.go
  go/p2p/p2p.go
  go/p2p/peermgmt.go
  go/p2p/rpc/client.go
  go/p2p/rpc/nop.go
  go/p2p/rpc/peermgmt.go
  go/p2p/rpc/rpc.go
  go/p2p/rpc/server.go
  go/p2p/rpc/types.go
  go/p2p/txsync/client.go
  go/p2p/txsync/protocol.go
  go/p2p/txsync/server.go
  go/roothash/api/commitment/pool.go
  go/worker/client/stateless.go
  go/worker/common/committee/keymanager.go
  go/worker/common/committee/node.go
  go/worker/common/committee/p2p.go
  go/worker/common/config.go
  go/worker/common/p2p/init.go
  go/worker/common/worker.go
  go/worker/compute/executor/committee/node.go
  go/worker/compute/executor/committee/p2p.go
  go/worker/compute/executor/committee/transactions.go
  go/worker/keymanager/init.go
  go/worker/keymanager/p2p/client.go
  go/worker/keymanager/p2p/server.go
  go/worker/keymanager/watcher.go
  go/worker/keymanager/worker.go
  go/worker/registration/worker.go
  go/worker/storage/committee/node.go
  go/worker/storage/p2p/pub/client.go
  go/worker/storage/p2p/pub/server.go
  go/worker/storage/p2p/sync/client.go
  go/worker/storage/p2p/sync/server.go
Labels: golang, c:p2p

#4668 go/consensus/tendermint/apps/beacon: Breaking VRF fixes
  .changelog/4394.breaking.md
  .changelog/4667.breaking.md
  .changelog/4668.breaking.md
  go/common/crypto/signature/signers/file/file_signer.go
  go/common/crypto/signature/signers/memory/memory_signer.go
  go/common/crypto/signature/vrf_signer.go
  go/common/node/node.go
  go/consensus/tendermint/apps/beacon/backend_vrf.go
  go/genesis/genesis_test.go
  go/go.mod
  go/go.sum
  go/oasis-node/cmd/debug/fixgenesis/fixgenesis.go
  go/oasis-test-runner/scenario/e2e/genesis_file.go
  go/registry/api/api.go
Labels: c:bug, c:breaking/consensus, c:beacon

#4998 go/control: Include node's P2P addresses in control status
  .changelog/4998.trivial.md
  go/consensus/api/api.go
  go/consensus/tendermint/full/full.go
  go/control/api/api.go
  go/oasis-node/cmd/node/node_control.go
  go/oasis-node/cmd/node/seed_control.go
  go/oasis-test-runner/scenario/e2e/runtime/archive_api.go
  go/oasis-test-runner/scenario/e2e/runtime/sentry.go
  go/p2p/api/api.go
  go/p2p/nop.go
  go/p2p/p2p.go
Labels: golang, c:p2p

#5004 [BACKPORT/22.2.x] go/runtime/txpool: republish sooner if maxRepublishTxs is reached
  .changelog/5003.bugfix.md
  go/go.mod
  go/go.sum
  go/runtime/txpool/txpool.go
Labels: c:backport

#5005 Fix storage sync from non-empty genesis and p2p multi call dispatch
  .changelog/5005.bugfix.1.md
  .changelog/5005.bugfix.2.md
  .changelog/5005.bugfix.3.md
  .changelog/5005.bugfix.4.md
  go/p2p/rpc/client.go
  go/p2p/rpc/peermgmt.go
  go/storage/mkvs/checkpoint/checkpointer.go
  go/worker/common/committee/node.go
  go/worker/storage/committee/checkpoint_sync.go
  go/worker/storage/committee/node.go
Labels: c:bug

#5006 [BACKPORT/22.2.x] Fix storage sync from non-empty genesis and p2p multi call dispatch
  .changelog/5005.bugfix.1.md
  .changelog/5005.bugfix.2.md
  .changelog/5005.bugfix.3.md
  .changelog/5005.bugfix.4.md
  go/storage/mkvs/checkpoint/checkpointer.go
  go/worker/common/committee/node.go
  go/worker/common/p2p/rpc/client.go
  go/worker/common/p2p/rpc/peermgmt.go
  go/worker/storage/committee/checkpoint_sync.go
  go/worker/storage/committee/node.go
Labels: c:backport

#5009 [BACKPORT/22.2.x] go/common/workerpool: Fix memory leak when workerpool is stopped early
  .changelog/5008.bugfix.md
  go/common/workerpool/workerpool.go
Labels: c:backport

#5010 [BACKPORT/22.2.x] go/p2p/rpc: Fix peer grading and memory leaks in RPC multi calls
  .changelog/5007.bugfix.1.md
  .changelog/5007.bugfix.2.md
  go/worker/common/p2p/rpc/client.go
Labels: c:backport
