Repository oasisprotocol/oasis-core, pull requests merged in 2022-02, with the labels that each got.

#4443 Runtime message results
  .changelog/4443.feature.md
  docs/adr/0012-runtime-message-results.md
  go/consensus/tendermint/abci/messages.go
  go/consensus/tendermint/abci/messages_test.go
  go/consensus/tendermint/abci/mux.go
  go/consensus/tendermint/api/app.go
  go/consensus/tendermint/apps/beacon/beacon.go
  go/consensus/tendermint/apps/governance/governance.go
  go/consensus/tendermint/apps/keymanager/keymanager.go
  go/consensus/tendermint/apps/registry/genesis.go
  go/consensus/tendermint/apps/registry/registry.go
  go/consensus/tendermint/apps/registry/transactions.go
  go/consensus/tendermint/apps/roothash/messages.go
  go/consensus/tendermint/apps/roothash/roothash.go
  go/consensus/tendermint/apps/roothash/transactions_test.go
  go/consensus/tendermint/apps/scheduler/scheduler.go
  go/consensus/tendermint/apps/staking/staking.go
  go/consensus/tendermint/apps/staking/transactions.go
  go/consensus/tendermint/apps/staking/transactions_test.go
  go/consensus/tendermint/apps/supplementarysanity/supplementarysanity.go
  go/roothash/api/api.go
  go/roothash/api/results_test.go
  go/staking/api/api.go
  go/staking/api/api_test.go
  runtime/src/consensus/roothash.rs
  runtime/src/consensus/staking.rs
  tests/runtimes/simple-keyvalue/src/methods.rs
Labels: s:ready-ci

#4459 go/worker/storage: Transition storage sync to P2P
  .changelog/4459.breaking.md
  .changelog/4459.internal.1.md
  .changelog/4459.internal.2.md
  docs/oasis-node/metrics.md
  go/common/crypto/signature/entropy_provider.go
  go/common/crypto/signature/signers/file/file_signer.go
  go/common/crypto/signature/signers/file/file_signer_test.go
  go/common/crypto/signature/signers/memory/memory_signer.go
  go/go.mod
  go/go.sum
  go/registry/api/api.go
  go/worker/common/committee/node.go
  go/worker/common/p2p/crypto.go
  go/worker/common/p2p/init.go
  go/worker/common/p2p/p2p.go
  go/worker/common/p2p/peermgmt.go
  go/worker/common/p2p/rpc/client.go
  go/worker/common/p2p/rpc/peermgmt.go
  go/worker/common/p2p/rpc/rpc.go
  go/worker/common/p2p/rpc/server.go
  go/worker/common/p2p/rpc/types.go
  go/worker/storage/committee/checkpoint_sync.go
  go/worker/storage/committee/metrics.go
  go/worker/storage/committee/node.go
  go/worker/storage/committee/utils.go
  go/worker/storage/p2p/client.go
  go/worker/storage/p2p/protocol.go
  go/worker/storage/p2p/server.go
  go/worker/storage/worker.go
Labels: c:p2p, c:breaking/runtime

#4477 go/runtime/txpool: Refactor runtime scheduling queue
  .changelog/4477.breaking.md
  go/genesis/genesis_test.go
  go/oasis-net-runner/fixtures/default.go
  go/oasis-node/cmd/debug/txsource/workload/registration.go
  go/oasis-node/node_test.go
  go/oasis-test-runner/scenario/e2e/registry_cli.go
  go/oasis-test-runner/scenario/e2e/runtime/multiple_runtimes.go
  go/oasis-test-runner/scenario/e2e/runtime/runtime.go
  go/oasis-test-runner/scenario/e2e/runtime/runtime_governance.go
  go/registry/api/runtime.go
  go/registry/tests/tester.go
  go/roothash/api/message/message_test.go
  go/runtime/scheduling/api/api.go
  go/runtime/scheduling/init.go
  go/runtime/scheduling/simple/simple.go
  go/runtime/scheduling/simple/simple_test.go
  go/runtime/scheduling/simple/txpool/api/api.go
  go/runtime/scheduling/simple/txpool/priorityqueue/priority_queue_test.go
  go/runtime/scheduling/tests/tester.go
  go/runtime/txpool/check_queue.go
  go/runtime/txpool/priority_queue.go
  go/runtime/txpool/priority_queue_test.go
  go/runtime/txpool/txpool.go
  runtime/src/consensus/registry.rs
  runtime/src/consensus/roothash.rs
Labels: c:breaking/consensus

#4465 go/consensus: use typed attributes in all services
  .changelog/4034.breaking.md
  .changelog/4465.breaking.md
  go/beacon/api/api.go
  go/consensus/api/events/events.go
  go/consensus/tendermint/api/api.go
  go/consensus/tendermint/api/api_test.go
  go/consensus/tendermint/api/context.go
  go/consensus/tendermint/api/context_test.go
  go/consensus/tendermint/apps/beacon/api.go
  go/consensus/tendermint/apps/beacon/beacon.go
  go/consensus/tendermint/apps/keymanager/api.go
  go/consensus/tendermint/apps/keymanager/genesis.go
  go/consensus/tendermint/apps/keymanager/keymanager.go
  go/consensus/tendermint/apps/keymanager/transactions.go
  go/consensus/tendermint/apps/registry/api.go
  go/consensus/tendermint/apps/registry/registry.go
  go/consensus/tendermint/apps/registry/transactions.go
  go/consensus/tendermint/apps/roothash/api.go
  go/consensus/tendermint/apps/roothash/roothash.go
  go/consensus/tendermint/apps/roothash/transactions.go
  go/consensus/tendermint/apps/scheduler/api.go
  go/consensus/tendermint/apps/scheduler/scheduler.go
  go/consensus/tendermint/apps/staking/state/state_test.go
  go/consensus/tendermint/beacon/beacon.go
  go/consensus/tendermint/governance/governance.go
  go/consensus/tendermint/keymanager/keymanager.go
  go/consensus/tendermint/registry/registry.go
  go/consensus/tendermint/roothash/roothash.go
  go/consensus/tendermint/scheduler/scheduler.go
  go/consensus/tendermint/staking/staking.go
  go/governance/api/api.go
  go/keymanager/api/api.go
  go/registry/api/api.go
  go/roothash/api/api.go
  go/roothash/api/api_test.go
  go/scheduler/api/api.go
Labels: s:ready-ci

#4470 Add support for node suspension due to runtime liveness failures
  .changelog/4470.breaking.md
  go/consensus/tendermint/apps/roothash/liveness.go
  go/consensus/tendermint/apps/roothash/roothash.go
  go/consensus/tendermint/apps/roothash/slashing.go
  go/consensus/tendermint/apps/scheduler/api/api.go
  go/consensus/tendermint/apps/scheduler/scheduler.go
  go/consensus/tendermint/apps/scheduler/scheduler_test.go
  go/consensus/tendermint/apps/scheduler/shuffle.go
  go/oasis-node/cmd/debug/byzantine/byzantine.go
  go/oasis-node/cmd/debug/byzantine/grpc.go
  go/oasis-node/cmd/debug/byzantine/node.go
  go/oasis-test-runner/scenario/e2e/runtime/byzantine.go
  go/registry/api/runtime.go
  go/registry/api/status.go
  go/registry/api/status_test.go
  go/roothash/api/api.go
  go/roothash/api/liveness.go
  go/roothash/tests/tester.go
  go/staking/api/slashing.go
  runtime/src/consensus/registry.rs
  runtime/src/consensus/roothash.rs
  runtime/src/consensus/staking.rs
Labels: c:roothash, c:breaking/consensus

#4478 go/common/cbor: Bump decoding limits
  .changelog/4478.breaking.md
  go/common/cbor/cbor.go
  go/common/cbor/cbor_test.go
Labels: c:common

#4479 [BACKPORT/21.3.x] go/common/cbor: Bump decoding limits for RPC
  .changelog/4478.feature.md
  go/common/cbor/cbor.go
  go/common/grpc/cbor.go
Labels: c:backport

#4480 runtime: Bump Rust dependencies
  .changelog/4480.trivial.md
  Cargo.lock
  runtime/Cargo.toml
  runtime/src/consensus/tendermint/verifier.rs
Labels: c:deps

#4456 go/staking: add minimum transfer amount
  .changelog/4456.breaking.md
  go/consensus/tendermint/apps/staking/transactions.go
  go/consensus/tendermint/apps/staking/transactions_test.go
  go/genesis/genesis_test.go
  go/oasis-node/cmd/debug/fixgenesis/fixgenesis.go
  go/staking/api/api.go
  go/staking/tests/state.go
Labels: c:consensus/tendermint, c:breaking/consensus, c:staking

#4491 runtime: allow SW_HARDENING_NEEDED IAS quote status
  .changelog/4491.bugfix.md
  go/common/node/node.go
  runtime/src/common/sgx/avr.rs
Labels: s:ready-ci

#4490 go/worker/keymanager: Transition keymanager protocol to P2P
  .changelog/4490.breaking.md
  go/keymanager/api/api.go
  go/keymanager/api/grpc.go
  go/keymanager/client/api/api.go
  go/keymanager/client/client.go
  go/oasis-node/cmd/node/node.go
  go/oasis-test-runner/oasis/keymanager.go
  go/oasis-test-runner/oasis/oasis.go
  go/oasis-test-runner/scenario/e2e/runtime/halt_restore.go
  go/oasis-test-runner/scenario/e2e/runtime/runtime.go
  go/oasis-test-runner/scenario/e2e/runtime/sentry.go
  go/registry/api/api.go
  go/runtime/enclaverpc/api/api.go
  go/runtime/enclaverpc/api/grpc.go
  go/runtime/keymanager/api/api.go
  go/runtime/registry/host.go
  go/storage/tests/tester.go
  go/worker/common/committee/node.go
  go/worker/common/committee/runtime_host.go
  go/worker/common/p2p/peermgmt.go
  go/worker/common/p2p/rpc/client.go
  go/worker/common/p2p/rpc/peermgmt.go
  go/worker/common/p2p/rpc/rpc.go
  go/worker/common/p2p/rpc/server.go
  go/worker/keymanager/handler.go
  go/worker/keymanager/init.go
  go/worker/keymanager/p2p/client.go
  go/worker/keymanager/p2p/protocol.go
  go/worker/keymanager/p2p/server.go
  go/worker/keymanager/policy.go
  go/worker/keymanager/service.go
  go/worker/keymanager/watcher.go
  go/worker/keymanager/worker.go
  go/worker/storage/committee/node.go
  go/worker/storage/worker.go
Labels: c:keymgmt, c:p2p, c:breaking/runtime

#4500 Transition public storage RPC to P2P
  .changelog/4500.breaking.md
  go/common/cbor/codec.go
  go/oasis-node/cmd/debug/byzantine/byzantine.go
  go/oasis-node/cmd/debug/byzantine/node.go
  go/oasis-node/cmd/debug/byzantine/registry.go
  go/oasis-node/cmd/debug/byzantine/scheduler.go
  go/oasis-node/cmd/debug/byzantine/storage_client.go
  go/oasis-node/cmd/debug/storage/export.go
  go/oasis-node/cmd/node/debug_storage.go
  go/oasis-node/cmd/node/node.go
  go/oasis-node/node_test.go
  go/oasis-test-runner/scenario/e2e/runtime/sentry.go
  go/registry/api/api.go
  go/registry/tests/tester.go
  go/runtime/nodes/grpc/grpc.go
  go/runtime/registry/registry.go
  go/runtime/registry/storage_router.go
  go/storage/client/client.go
  go/storage/client/init.go
  go/storage/client/tests/tests.go
  go/worker/client/stateless.go
  go/worker/client/worker.go
  go/worker/storage/committee/checkpoint_sync.go
  go/worker/storage/committee/node.go
  go/worker/storage/committee/policy.go
  go/worker/storage/p2p/pub/client.go
  go/worker/storage/p2p/pub/protocol.go
  go/worker/storage/p2p/pub/server.go
  go/worker/storage/p2p/sync/client.go
  go/worker/storage/p2p/sync/protocol.go
  go/worker/storage/p2p/sync/server.go
  go/worker/storage/service_external.go
  go/worker/storage/worker.go
Labels: c:storage, c:breaking/consensus, c:p2p, c:breaking/runtime

#4501 docs: Adapt to docusaurus syntax
  .changelog/4501.doc.md
  CHANGELOG.md
  README.md
  docs/Makefile
  docs/SECURITY.md
  docs/adr/0000-architectural-decision-records.md
  docs/adr/0002-go-modules-compatible-git-tags.md
  docs/adr/0008-standard-account-key-generation.md
  docs/adr/index.md
  docs/authenticated-grpc.md
  docs/consensus/genesis.md
  docs/consensus/index.md
  docs/consensus/services/beacon.md
  docs/consensus/services/epochtime.md
  docs/consensus/services/governance.md
  docs/consensus/services/keymanager.md
  docs/consensus/services/registry.md
  docs/consensus/services/roothash.md
  docs/consensus/services/scheduler.md
  docs/consensus/services/staking.md
  docs/consensus/test-vectors.md
  docs/consensus/transactions.md
  docs/crypto.md
  docs/development-setup/building.md
  docs/development-setup/deploying-a-runtime.md
  docs/development-setup/oasis-net-runner.md
  docs/development-setup/prerequisites.md
  docs/development-setup/running-tests.md
  docs/development-setup/single-validator-node-network.md
  docs/index.md
  docs/oasis-node/cli.md
  docs/oasis-node/metrics.md
  docs/oasis-node/rpc.md
  docs/release-process.md
  docs/runtime/index.md
  docs/runtime/messages.md
  docs/runtime/runtime-host-protocol.md
  docs/toc.md
  go/extra/extract-metrics/main.go
Labels: c:docs

#4522 go/consensus/tendermint/apps/beacon: Fix next epoch scheduling
  .changelog/4522.trivial.md
  go/consensus/tendermint/apps/beacon/backend_vrf.go
  go/oasis-test-runner/scenario/e2e/runtime/halt_restore_nonmock.go
  go/oasis-test-runner/scenario/e2e/runtime/runtime.go
Labels: c:bug, c:beacon

#4523 go/worker/common/p2p: Fix duplicate peer display in GetStatus output
  .changelog/4523.trivial.md
  go/worker/common/p2p/p2p.go
Labels: c:bug, c:p2p
