Repository oasisprotocol/oasis-core, pull requests merged in 2022-11, with the labels that each got.

#5011 go tendermint staking: reduce DelegationsTo scanning
  .changelog/5011.feature.md
  go/consensus/tendermint/apps/staking/state/state.go
Labels: c:consensus/tendermint, c:staking

#5014 [BACKPORT/22.2.x] go tendermint staking: reduce DelegationsTo scanning
  .changelog/5011.feature.md
  go/consensus/tendermint/apps/staking/state/state.go
Labels: c:consensus/tendermint, c:staking, c:backport

#5013 [BACKPORT/22.1.x] go tendermint staking: reduce DelegationsTo scanning
  .changelog/5011.feature.md
  go/consensus/tendermint/apps/staking/state/state.go
  go/go.mod
  go/go.sum
Labels: c:consensus/tendermint, c:staking, c:backport

#5025 go/p2p: Include chain context in p2p protocol names
  .changelog/4996.cfg.md
  .changelog/5025.breaking.md
  go/common/version/version.go
  go/oasis-node/cmd/debug/byzantine/byzantine.go
  go/oasis-node/cmd/debug/byzantine/executor.go
  go/oasis-node/cmd/debug/byzantine/node.go
  go/oasis-node/cmd/debug/byzantine/p2p.go
  go/oasis-node/cmd/debug/byzantine/tendermint.go
  go/oasis-node/cmd/node/node.go
  go/p2p/api/api.go
  go/p2p/api/convert.go
  go/p2p/dispatch.go
  go/p2p/nop.go
  go/p2p/p2p.go
  go/p2p/protocol/protocol.go
  go/p2p/protocol/protocol_test.go
  go/p2p/rpc/rpc.go
  go/worker/client/stateless.go
  go/worker/client/worker.go
  go/worker/common/committee/keymanager.go
  go/worker/common/committee/node.go
  go/worker/common/committee/p2p.go
  go/worker/common/p2p/txsync/client.go
  go/worker/common/p2p/txsync/protocol.go
  go/worker/common/p2p/txsync/server.go
  go/worker/common/worker.go
  go/worker/compute/executor/committee/node.go
  go/worker/keymanager/handler.go
  go/worker/keymanager/init.go
  go/worker/keymanager/p2p/client.go
  go/worker/keymanager/p2p/protocol.go
  go/worker/keymanager/p2p/server.go
  go/worker/storage/committee/node.go
  go/worker/storage/p2p/pub/client.go
  go/worker/storage/p2p/pub/protocol.go
  go/worker/storage/p2p/pub/server.go
  go/worker/storage/p2p/sync/client.go
  go/worker/storage/p2p/sync/protocol.go
  go/worker/storage/p2p/sync/server.go
Labels: golang, c:p2p, c:breaking

#5032 docs: Fix broken tendermint link
  .changelog/5032.trivial.md
  docs/consensus/README.md
Labels: c:docs

#5036 [BACKPORT/22.2.x] runtime: Bump oasis-cbor to 0.5.1
  .changelog/5024.internal.md
  .changelog/5035.internal.md
  Cargo.lock
  go/.nancy-ignore
  keymanager/Cargo.toml
  runtime/Cargo.toml
  tests/runtimes/simple-keyvalue/Cargo.toml
Labels: c:backport

#5038 go/common/sgx/pcs: Add support for blacklisting FMSPCs
  .changelog/5038.breaking.md
  go/common/sgx/pcs/quote.go
  go/common/sgx/pcs/quote_test.go
  go/common/sgx/pcs/tcb.go
  runtime/src/common/sgx/pcs.rs
Labels: golang, rust, c:breaking

#5068 runtime/consensus/tendermint/verifier: Correctly compare headers
  .changelog/5068.bugfix.md
  go/.nancy-ignore
  runtime/src/consensus/tendermint/verifier/mod.rs
Labels: c:bug
