Repository oasisprotocol/oasis-core, pull requests merged in 2022-07, with the labels that each got.

#4841 Bump Rust toolchain to 2022-07-12
  .changelog/4841.internal.md
  .rustfmt.toml
  Cargo.lock
  docker/oasis-core-ci/Dockerfile
  docker/oasis-core-dev/Dockerfile
  docs/development-setup/prerequisites.md
  go/.nancy-ignore
  keymanager-client/Cargo.toml
  keymanager-client/src/mock.rs
  keymanager-lib/Cargo.toml
  keymanager-lib/src/kdf.rs
  keymanager-lib/src/policy.rs
  runtime-loader/Cargo.toml
  runtime/Cargo.toml
  runtime/src/common/crypto/signature.rs
  runtime/src/common/logger.rs
  runtime/src/common/sgx/ias.rs
  runtime/src/dispatcher.rs
  runtime/src/lib.rs
  runtime/src/rak.rs
  runtime/src/storage/mkvs/cache/lru_cache.rs
  runtime/src/storage/mkvs/sync/mod.rs
  runtime/src/storage/mkvs/sync/proof.rs
  runtime/src/storage/mkvs/tree/node.rs
  runtime/src/transaction/dispatcher.rs
  runtime/src/transaction/rwset.rs
  rust-toolchain.toml
  tools/Cargo.toml
Labels: c:deps

#4837 go: remove synced storage wrapper
  .changelog/4837.internal.md
  go/consensus/tendermint/roothash/roothash.go
  go/oasis-node/cmd/storage/storage.go
  go/oasis-test-runner/oasis/compute.go
  go/oasis-test-runner/scenario/e2e/runtime/storage_sync_inconsistent.go
  go/roothash/api/history.go
  go/runtime/history/history.go
  go/runtime/history/history_test.go
  go/runtime/registry/config.go
  go/runtime/registry/registry.go
  go/runtime/txpool/txpool.go
  go/worker/client/service.go
  go/worker/common/committee/node.go
  go/worker/compute/executor/committee/node.go
  go/worker/storage/api/api.go
  go/worker/storage/api/grpc.go
  go/worker/storage/committee/checkpoint_sync.go
  go/worker/storage/committee/node.go
  go/worker/storage/service_internal.go
  go/worker/storage/synced_storage.go
  go/worker/storage/worker.go
Labels: s:ready-ci

#4868 [BACKPORT/22.1.x]: go/runtime/host: correct clone3 version threshold
  .changelog/4867.bugfix.md
  go/runtime/host/sandbox/process/seccomp_linux.go
Labels: c:bug, c:runtime/loader

#4867 go/runtime/host: correct clone3 version threshold
  .changelog/4867.bugfix.md
  go/runtime/host/sandbox/process/seccomp_linux.go
Labels: c:bug, c:runtime/loader
