Repository oasisprotocol/oasis-core, pull requests merged in 2023-06, with the labels that each got.

#5282 runtime/consensus/roothash: Implement executor commitment structures
  .changelog/5282.breaking.md
  .changelog/5282.internal.md
  go/consensus/tendermint/apps/roothash/roothash.go
  go/consensus/tendermint/apps/roothash/transactions.go
  go/consensus/tendermint/apps/roothash/transactions_test.go
  go/oasis-node/cmd/control/runtime_stats.go
  go/oasis-node/cmd/debug/byzantine/executor.go
  go/oasis-node/cmd/debug/byzantine/scheduler.go
  go/roothash/api/api.go
  go/roothash/api/api_test.go
  go/roothash/api/block/block.go
  go/roothash/api/block/header.go
  go/roothash/api/commitment/executor.go
  go/roothash/api/commitment/executor_test.go
  go/roothash/api/commitment/pool.go
  go/roothash/api/commitment/pool_test.go
  go/roothash/api/commitment/proposal.go
  go/roothash/tests/tester.go
  go/scheduler/api/api.go
  go/worker/common/committee/group.go
  go/worker/compute/executor/committee/discrepancy.go
  go/worker/compute/executor/committee/node.go
  runtime/src/common/crypto/signature.rs
  runtime/src/consensus/registry.rs
  runtime/src/consensus/roothash/block.rs
  runtime/src/consensus/roothash/commitment/executor.rs
  runtime/src/consensus/roothash/commitment/mod.rs
  runtime/src/consensus/roothash/commitment/pool.rs
  runtime/src/consensus/roothash/message.rs
  runtime/src/consensus/roothash/mod.rs
  runtime/src/consensus/scheduler.rs
  runtime/src/dispatcher.rs
  runtime/src/identity.rs
Labels: golang, c:breaking/consensus, rust

#5287 go/upgrade: Fix upgrade manager
  .changelog/5287.breaking.md
  .changelog/5287.trivial.md
  go/upgrade/upgrade.go
Labels: c:breaking

#5297 go: Bump go-libp2p to 0.28.1
  .changelog/5297.internal.md
  go/go.mod
  go/go.sum
Labels: c:deps
